.detail .widgets_textinput {
    margin-top: 7px;
}

.detail .widgets_label {
    width: 150px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.detail .widgets_radiobutton {
    line-height: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.detail .widgets_checkbox {
    margin-top: 7px;
}

#imageEditButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: none;
}

#userImage {
    display:inline-block;
    position:relative;
}

#userImage:hover #imageEditButton {
    display: block;
}

.widgets_radiobutton {
     display: block !important;
}

.widgets_radiobutton > div {
     padding-left: 90px;
}

.widgets_combobox > select {
     width: 134px;
     margin-top: 7px;
}

#PrivacyButton {
  top: 30%;
  left: 2%;
  position: absolute;
}

#privacyShield {
   margin-left: 470px;
   width: 100%;
   background-color:#ffffff;
   height: 525px;
   position:absolute;
}

#content {
  overflow: hidden;
  position: relative;
}
