.detail .widgets_textinput {
    margin-top: 7px;
}

.detail .widgets_label {
    width: 150px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.detail .widgets_radiobutton {
    line-height: 13px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.detail .widgets_checkbox {
    margin-top: 7px;
}

#imageEditButton {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    display: none;
}

#userImage {
    display:inline-block;
    position:relative;
}

#userImage:hover #imageEditButton {
    display: block;
}

.widgets_radiobutton {
     display: block !important;
}

.widgets_radiobutton > div {
     padding-left: 90px;
}

.widgets_combobox > select {
     width: 134px;
     margin-top: 7px;
}

#slb {
  position: relative;
  top: 50%;
  left: 2%;
  color: #FFFFFF;
  position: absolute;
  background: #417BB2;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.3);
  text-shadow: none;
  transition: all .3s ease-out;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  padding: 10px;
  font-size: 12px;
}

#slb:hover {
  background: #6094C5;
}

#slb:active{
  background: #33618C;
  transform: scale(0.97) !important;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

.sl-content {
   margin-left: 460px;
   width: 100%;
   background-color:#ffffff;
   height: 440px;
   position:absolute;
}

#content {
  overflow: hidden;
  position: relative;
}
