<div>
	<!-- BEGIN BLOCK_ARTEFACTS -->
	<table class="grid">
		<tr><th>Name</th><th>Größe</th><th>Beschreibung</th><th>Funktionen</th></tr>
		<!-- BEGIN BLOCK_ARTEFACT_ROW -->
		<tr><td><a href="{ARTEFACT_PATH}">{ARTEFACT_NAME}</a></td>
		<td>{ARTEFACT_SIZE}</td>
		<td>{ARTEFACT_DESCRIPTION}</td>
		<td>{ARTEFACT_FUNCTIONS}</td></tr>
		<!-- END BLOCK_ARTEFACT_ROW -->
	</table>
	<!-- END BLOCK_ARTEFACTS -->
	
	<!-- BEGIN BLOCK_NO_ARTEFACTS -->
	<div class="infoBar">{NO_ARTEFACTS_TEXT}</div>
	<!-- END BLOCK_NO_ARTEFACTS -->
</div>				
			