<div >
	<div style="float:left; width:390px;">
	<!-- BEGIN BLOCK_DESKTOP_LEFT -->
		<ul id="boxes1" style="list-style: none; margin: 0; padding: 0;">
		<!-- BEGIN BLOCK_NEXTSTEPS -->			
			<li id="boxes_1">
			<div class="box">
				<h3>{LABEL_NEXTSTEPS}</h3>
				
				<!-- BEGIN BLOCK_NEXTSTEP -->
				<p class="boxContent">
					{CONTENT_NEXTSTEPS}
				</p>		
				<!-- END BLOCK_NEXTSTEP -->
			</div>
			</li>
		<!-- END BLOCK_NEXTSTEPS -->
		
		<!-- BEGIN BLOCK_VISIBLE_PORTFOLIOS -->			
			<li id="boxes_1">
			<div class="box">
				<h3>{LABEL_VISIBLE}</h3>
				
				<!-- BEGIN BLOCK_VISIBLE_BOX -->
				<p class="boxContent">
					{CONTENT_VISIBLE}
				</p>		
				<!-- END BLOCK_VISIBLE_BOX -->
			</div>
			</li>
		<!-- END BLOCK_VISIBLE_PORTFOLIOS -->
		</ul>
	<!-- END BLOCK_DESKTOP_LEFT -->
	</div>
	<div style="float:right; width:390px;">
		<!-- BEGIN BLOCK_DESKTOP_RIGHT -->
		<ul id="boxes2" style="list-style: none; margin: 0; padding: 0;">
		<!-- BEGIN BLOCK_COMMENTS -->			
			<li id="boxes_2">
			<div class="box">
				<h3>{LABEL_COMMENTS}</h3>
				
				<!-- BEGIN BLOCK_COMMENTS_BOX -->
				<p class="boxContent">
					{CONTENT_COMMENTS}
				</p>		
				<!-- END BLOCK_COMMENTS_BOX -->
			</div>
			</li>
		<!-- END BLOCK_COMMENTS -->
		<!-- BEGIN BLOCK_LATEST -->			
			<li id="boxes_2">
			<div class="box">
				<h3>{LABEL_LATEST}</h3>
				
				<!-- BEGIN BLOCK_LATEST_BOX -->
				<p class="boxContent">
					{CONTENT_LATEST}
				</p>		
				<!-- END BLOCK_LATEST_BOX -->
			</div>
			</li>
		<!-- END BLOCK_LATEST -->
		</ul>
		<!-- END BLOCK_DESKTOP_RIGHT -->
	</div>
</div>		

			
			