<h1>{WELCOME_HEADLINE}</h1>
<p>
    {WELCOME_TEXT}
</p>
<div style="text-align:center">
    <h2>Artefakte sammeln</h2>
    <p align=left>
        Portfolio besteht aus verschiedenen Artefakten, wie Zeugnissen oder Ausarbeitungen. Diese können gesammelt und anschließend in einem Portfolio zusammengestellt und präsentiert werden.
        <br>
    </p>
    <form>
        <!--<input type=hidden name="upload_artefacts" value="1"><input type="submit" value="Artefakte hochladen"></input>-->
        <div class="buttons" style="text-align:center">
            <a href="{PATH_UPLOAD_ARTEFACTS}">Artefakte hochladen</a>
        </div>
    </form>
    <br>
</div>
<div style="text-align:center">
    <h2>Portfolio erstellen</h2>
    <p align=left>
        Wenn schon Artefakte hochgeladen wurden, kann hieraus ein Portfolio zusammengestellt werden.
        <br>
    </p>
    <form>
        <!--<input type=hidden name="create_portfolio" value="1"><input type="submit" value="Portfolio erstellen"></input>-->
        <div class="buttons" style="text-align:center">
            <a href="{PATH_CREATE_PORTFOLIO}">Portfolio zusammenstellen</a>
        </div>
    </form>
    <br>
</div>
