.invisible {
    display: none;
}

.visible {
    display: block;
}

.ddlist {
    width: 100%;
}

.indented {
    text-indent: 1em;
}

.predefined-rights{
    float: left; 
    margin-right: 10px; 
    margin-top: 8px;
}

.infobar-height{
    height:23px !important;
}

td{
    font-family: arial;
}

p{
    font-family: arial;
}

.scrollable-groups{
    overflow:auto;
}

.scrollable-user{
    overflow:auto;
}

table{
    width: 100%;
}

select {
    width: 100%;
}

br {
  display: none;
}
