#explorerContent {
    /*padding-right: 50px;*/
}
.listviewer {
    /*margin-left: 50px;*/
}
.breadcrumb {
    width: calc(100% - 40px);
    height: 1em;
    margin-left: 0.6em;
}
.show {
    display: block;
}
.hide {
    display: none;
}

div[id$="_3"].listviewer-item-cell {
    color: #AAAAAA;
}

#explorerGallery {
    list-style-type:none;
    margin:0;
    padding:0;
    width: 100%;
    display:inline-block;
}

.galleryEntry {
    box-shadow: 2px 2px 5px #888;
    border-radius: 3px;
    display: inline-block;
    margin-left: 0.6em;
    margin-right: 0.6em;
    margin-bottom: 2em;
    background-color: #FFFFFF;
    padding-bottom: 10px;
    padding-top: 10px;
    position:relative;
    
}

.galleryEntry:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

.galleryEntry input[type="text"] {
    width: calc(100% - 30px) !important;
    margin-left: 10px;
    margin-top:2px;
}

.galleryEntry .widgets_textinput {
    float: none;
}

.galleryEntry:hover:not(.selected) .popupmenuanker:not(.popupmenuloading) {
    display:block;
    background-color:#EEEEEE;
}

.popupmenuloading{
    display:block !important;
}

.galleryEntry:hover .popupmenuanker {
    display:block;
    background-color:#EEEEEE;
}

.galleryEntry.selected {
    background-color: #396D9C !important;
}

.galleryEntry .SVGChild {
    color: #3a6e9f;
}

.galleryEntry.selected .SVGChild {
    color: #FFFFFF;
}

.galleryEntry.selected a {
    color: #FFFFFF;
}

.galleryPicture {
    width: 100%;
    height: 100%;
    display: table-cell;
    margin-top: 0.5em;
    margin-bottom: 1.2em;
    
    
}

.galleryPicture.white {
    display: none;
}

.galleryPicture.red {
    display: none;
}

.galleryPicture use {
    transform: scale(1);
}

.galleryEntry .galleryReferenceWrapper {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 25px;
    top: 5px;
}

.galleryEntry .galleryReference {
    width:16px;
    height:16px;
    color:#3a6e9f;
}

.galleryEntry.selected .galleryReference {
    color: #FFFFFF;
}

.galleryEntry:hover .galleryReference {
    display: block;
}

.galleryEntryCheckbox {
    cursor: pointer;
    display: block;
    position: absolute;
    margin-top: -6px;
    margin-left: 4px;
}

.galleryEntry .popupmenuanker {
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
}

.galleryEntry.selected .popupmenuanker {
    background-color: #396D9C;
    color: white;
    display:block;
}

.galleryEntry.selected .galleryEntryCheckbox {
    display: block;
}

.galleryEntry.justTrashed .galleryEntryCheckbox {
    disabled:true;
}

.galleryEntry.justTrashed .SVGChild {
    color: #FF0000;
}

.galleryEntry.justTrashed a {
    color: #FF0000;
}

.galleryEntry.justTrashed .galleryReference {
    color: #FF0000;
}

.galleryEntry div[id$="_1"] {
    vertical-align: top;
    z-index: 10000;
}

.galleryEntry div[id$="_1"] a {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    text-align: center;
    vertical-align: bottom;
    position: absolute;
    bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    right: 5px;
}

.widgets_textinput, .widgets_textinput input, .widgets_textinput div {
	float: none !important;
}

.galleryEntry.red {
    background-color: #F3B6AE;
}

.galleryEntry.orange {
    background-color: #FAD7A5;
}

.galleryEntry.yellow {
    background-color: #FAF3AA;
}

.galleryEntry.green {
    background-color: #DDEDAA;
}

.galleryEntry.blue {
    background-color: #B7D9FE;
}

.galleryEntry.purple {
    background-color: #DEBCEA;
}

.galleryEntry.grey {
    background-color: #D6D6D6;
}

.galleryEntry.red:hover {
    background-color: #e97a6b;
}

.galleryEntry.orange:hover {
    background-color: #f6b75d;
}

.galleryEntry.yellow:hover {
    background-color: #f6e962;
}

.galleryEntry.green:hover {
    background-color: #c4e06b;
}

.galleryEntry.blue:hover {
    background-color: #6cb1fd;
}

.galleryEntry.purple:hover {
    background-color: #c182d8;
}

.galleryEntry.grey:hover {
    background-color: #b0b0b0;
}

.galleryEntry.red:hover:not(.selected) .popupmenuanker {
    background-color: #e97a6b;
}

.galleryEntry.orange:hover:not(.selected) .popupmenuanker {
    background-color: #f6b75d;
}

.galleryEntry.yellow:hover:not(.selected) .popupmenuanker {
    background-color: #f6e962;
}

.galleryEntry.green:hover:not(.selected) .popupmenuanker {
    background-color: #c4e06b;
}

.galleryEntry.blue:hover:not(.selected) .popupmenuanker {
    background-color: #6cb1fd;
}

.galleryEntry.purple:hover:not(.selected) .popupmenuanker {
    background-color: #c182d8;
}

.galleryEntry.grey:hover:not(.selected) .popupmenuanker {
    background-color: #b0b0b0;
}

.redColor {
    color: #e97a6b;
}

.orangeColor {
    color: #f6b75d;
}

.yellowColor {
    color: #f6e962;
}

.greenColor {
    color: #c4e06b;
}

.blueColor {
    color: #6cb1fd;
}

.purpleColor {
    color: #c182d8;
}

.greyColor {
    color: #b0b0b0;
}

.galleryEntry.Row1 {
    height: 97%;
    width: calc(100%/1 - 1.2em);
}

.galleryEntry.Row2 {
    height: 46%;
    width: calc(100%/2 - 1.2em);
}

.galleryEntry.Row3 {
    height: 46%;
    width: calc(100%/3 - 1.2em);
}

.galleryEntry.Row4 {
    height: 46%;
    width: calc(100%/4 - 1.2em);
}

.galleryEntry.Row5 {
    height: 46%;
    width: calc(100%/5 - 1.2em);
}

.galleryEntry.Row6 {
    height: 46%;
    width: calc(100%/6 - 1.2em);
}

.galleryEntry.Row7 {
    height: 46%;
    width: calc(100%/7 - 1.2em);
}

.galleryEntry.Row8 {
    height: 46%;
    width: calc(100%/8 - 1.2em);
}

.galleryEntry.Row9 {
    height: 46%;
    width: calc(100%/9 - 1.2em);
}

.galleryEntry.Row10 {
    height: 46%;
    width: calc(100%/10 - 1.2em);
}

.galleryEntry.hiddenObject {
    opacity: 0.5;
}

#slider {
    width: 155px;
    height: 0.5em;
    float: right;
    margin-top: 45px;
    margin-bottom: 15px;
    margin-right: -113px;
}

.explorernewentry {
    padding-top: 5px;
}
