.dialog_wrapper {
	top: 0%;
  	right: 50%;
  	position: fixed;
        z-index: 300;
}

.dialog {
	display: none;
	font-family: 'Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
        font-size: 10px;
        line-height: 20px;
  	position: relative;
	z-index: 301;
	padding: 5px;
	background-color: white;
	color: black;
	padding: 14px;
	border: 1px solid #ccc;
	max-height:100%;
	overflow-y:auto;
		
	-moz-box-shadow:2px 2px 5px #888;
	-webkit-box-shadow:2px 2px 5px #888;
	box-shadow:2px 2px 5px #888;
}

.dialog h2 {
	margin-top: 3px;
}

.dialog h3 {
	margin-top: 10px;
	color: #ccc;
	border-bottom: 1px solid #ccc;
}

.dialog .widgets_label {
	width: 120px;
	margin: 3px;
}

.dialog .widgets_textinput input, .dialog .widgets_datepicker input, .dialog .widgets_combobox select, .dialog .widgets_textfield, .dialog .widgets_checkbox {
	width: 200px;
	margin: 3px;
}

.close-button {
	height: 12px;
	width: 12px;
	background-image: url("{PATH_URL}widgets/asset/close.gif");
	position: absolute;
	top: 2px;
	right: 5px;
}

.close-button:hover {
	cursor: pointer;
}