.dialog_wrapper {
	top: 6%;
	right: 50%;
	position: fixed;
	z-index: 300;
}

.dialog {
	display: none;
	font-family: 'Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	position: relative;
	z-index: 301;
	padding: 5px;
	background-color: white;
	color: black;
	padding: 14px;
	max-height:620px;
	overflow-y:auto;
	-moz-box-shadow:2px 2px 5px #888;
	-webkit-box-shadow:2px 2px 5px #888;
	box-shadow:2px 2px 5px #888;
	border-radius: 3px;
}

.dialog h2 {
	margin-top: 3px;
	padding-top: 5px;
	padding-left: 14px;
}

.dialog h3 {
	margin-top: 10px;
	color: #ccc;
	border-bottom: 1px solid #ccc;
}

.dialog .widgets_label {
	width: 140px;
	margin: 3px;
}

.dialog .widgets_textinput input, .dialog .widgets_datepicker input, .dialog .widgets_combobox select, .dialog .widgets_textfield, .dialog .widgets_checkbox {
	width: 200px;
	margin-top: 3px;
}

.close-button {
	height: 24px;
	width: 24px;
	background-image: url("{PATH_URL}widgets/asset/close.png");
	position: absolute;
	top: 2px;
	right: 10px;
	background-size: cover;
}

.close-button:hover {
	cursor: pointer;
	background-image: url("{PATH_URL}widgets/asset/close_red.png");
}
