@CHARSET "UTF-8";
.listviewer{
	width: 100%;
}

.listviewer .listviewer-items {
	clear: both;
}

.listviewer .listviewer-head {

}

.listviewer .listviewer-item {
	height: 24px;
	clear: both;
	cursor: pointer;
}

.listviewer-item-unhover {
	background-color: transparent;
	border: 1px solid transparent;
}

.listviewer-item-hover {
	border: 1px solid #aaa;
}

.listviewer-item-hover.red, .listviewer-item-hover.orange, .listviewer-item-hover.yellow, .listviewer-item-hover.green, .listviewer-item-hover.blue, .listviewer-item-hover.purple, .listviewer-item-hover.grey {
	background-color: white;
}

.listviewer-item-selected.red, .listviewer-item-selected.orange, .listviewer-item-selected.yellow, .listviewer-item-selected.green, .listviewer-item-selected.blue, .listviewer-item-selected.purple, .listviewer-item-selected.grey {
	background-color: #396D9C;
}

.listviewer-item-selected {
	background-color: #396D9C;
	border: 1px solid #396D9C;
	color: white;
}

.listviewer-item-selected a, .listviewer-item-selected a:link, .listviewer-item-selected a:visited{
	color: white;
}

.listviewer .listviewer-head-item {
	float: left;
	font-weight: bold;
	min-height: 1px;
}

.listviewer .listviewer-item-cell {
	float: left;
	padding-top: 4px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
}

.listviewer .listviewer-item-cell img {
    margin: -3px 3px;
}

.listviewer .listviewer-item-cell .marker {
	float: right;
}

.listviewer .listviewer-noitem{
	text-align:center;
}

.listviewer .listviewer-head-item {
	float: left;
	font-weight: bold;
}

.listviewer .listviewer-head{
	clear: both;
}

.listviewer-item {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.red {
	border: 1px solid #FB6E65;
	background-color: #F3B6AE;
}

.orange {
	border: 1px solid #F7AF4D;
	background-color: #FAD7A5;
}

.yellow {
	border: 1px solid #F1DE51;
	background-color: #FAF3AA;
}

.green {
	border: 1px solid #B8D852;
	background-color: #DDEDAA;
}

.blue {
	border: 1px solid #63A8FD;
	background-color: #B7D9FE;
}

.purple {
	border: 1px solid #C393DB;
	background-color: #DEBCEA;
}

.grey {
	border: 1px solid #AFAFAF;
	background-color: #D6D6D6;
}

.hiddenObject {
        opacity: 0.5;
}

.justTrashed{
	border: 1px solid #fff;
	background-color: #fff;
}

.justTrashed div, .justTrashed a{
	color: red;
	text-decoration:line-through;
}
