@CHARSET "UTF-8";
.listviewer{
	width: 100%;
}

.listviewer .listviewer-items {
	clear: both;
}

.listviewer .listviewer-head {

}

.listviewer .listviewer-item {
	height: 24px;
	clear: both;
	cursor: pointer;
}

.listviewer-item-unhover {
	background-color: transparent;
	/*border: 1px solid transparent;*/
}

.listviewer-item-hover {
	/*border: 1px solid #aaa;*/
	background-color: #e5e5e5;
}

.listviewer-item-hovered {
	/*border: 1px solid #aaa;*/
	background-color: #e5e5e5;
}

.listviewer-item-selected.red, .listviewer-item-selected.orange, .listviewer-item-selected.yellow, .listviewer-item-selected.green, .listviewer-item-selected.blue, .listviewer-item-selected.purple, .listviewer-item-selected.grey {
	background-color: #396D9C;
}

.listviewer-item-selected {
	background-color: #396D9C;
	color: white;
}

.listviewer-item-selected a, .listviewer-item-selected a:link, .listviewer-item-selected a:visited{
	color: white;
}

.listviewer .listviewer-head-item {
	float: left;
	font-weight: bold;
	min-height: 1px;
}

.listviewer .listviewer-head-item.hover {
	cursor: pointer;
	text-decoration: underline;
}

.listviewer .listviewer-item-cell {
	float: left;
	padding-top: 4px;
	height: 20px;
	overflow: hidden;
	white-space: nowrap;
}

.listviewer .listviewer-item-cell img {
    margin: -3px 3px;
}

.listviewer .listviewer-item-cell .marker {
	float: right;
}

.listviewer .listviewer-noitem{
	text-align:center;
}

.listviewer .listviewer-head{
	clear: both;
}

.listviewer-item {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.red {
	background-color: #F3B6AE;
}

.orange {
	background-color: #FAD7A5;
}

.yellow {
	background-color: #FAF3AA;
}

.green {
	background-color: #DDEDAA;
}

.blue {
	background-color: #B7D9FE;
}

.purple {
	background-color: #DEBCEA;
}

.grey {
	background-color: #D6D6D6;
}

.redColor {
	color: #e97a6b;
}

.orangeColor {
	color: #f6b75d;
}

.yellowColor {
	color: #f6e962;
}

.greenColor {
	color: #c4e06b;
}

.blueColor {
	color: #6cb1fd;
}

.purpleColor {
	color: #c182d8;
}

.greyColor {
	color: #b0b0b0;
}

.listviewer-item-hover.red {
	background-color: #e97a6b;
}

.listviewer-item-hover.orange {
	background-color: #f6b75d;
}

.listviewer-item-hover.yellow {
	background-color: #f6e962;
}

.listviewer-item-hover.green {
	background-color: #c4e06b;
}

.listviewer-item-hover.blue {
	background-color: #6cb1fd;
}

.listviewer-item-hover.purple {
	background-color: #c182d8;
}

.listviewer-item-hover.grey {
	background-color: #b0b0b0;
}

.hiddenObject {
        opacity: 0.5;
}

.justTrashed{
	background-color: #fff;
}

.justTrashed div, .justTrashed a{
	color: red;
	text-decoration:line-through;
}

.justRestoredFromTrashed{
	background-color: #fff;
}

.justRestoredFromTrashed div, .justRestoredFromTrashed a{
	color: LimeGreen;
	text-decoration:line-through;
}
