@CHARSET "UTF-8";
.listviewer-item .popupmenuanker {
  display: none;
}

.listviewer-item-unhovered .popupmenuanker {
  display: none;
}

.listviewer-item-hovered .popupmenuanker {
  display: block;
}

.listviewer-item-selected .popupmenuanker {
  display: block;
}

.listviewer-item .referenceWrapper {
  color: #3a6e9f;
}

.listviewer-item-selected .referenceWrapper {
  color: white;
}

.popupmenuloading {
    -webkit-animation: rotation 2s infinite linear;
    -moz-animation: rotation 2s infinite linear;
    -o-animation: rotation 2s infinite linear;
    animation: rotation 2s infinite linear; transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to   {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

.listviewer-item-unhover .popupmenuloading {
    display: block;
}

.popupmenuwrapper {
    background: #3a6e9f;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    display: none;
    z-index: 1;
}

.popupmenuitem {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
}

.popupmenuitem a {
    color: #FFFFFF;
    white-space: nowrap;
}

.popupmenuitem svg {
    position: relative;
    top: 3px;
    width: 16px;
    height: 16px;
}

.popupmenuitem:hover {
    background-color: #6094C5;
}

.popupmenuitem:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.popupmenuitem:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.popupmenuitem:active {
    background: #264767;
}

.popupmenuseparator {
    height: 1px;
    border-top: 1px solid #ffffff;
}


.popupsubmenuwrapper {
    display: none;
    position: absolute;
    width: 190px;
    margin-top: -25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 2px 2px 5px #888888;
    background: #3a6e9f;
}

.popupsubmenuwrapper.left {
    right: 97%
}

.popupsubmenuwrapper.right {
    left: 97%;
}
