@CHARSET "UTF-8";
.listviewer-item-unhover .popupmenuanker {
	display: none;
}

.listviewer-item-hover .popupmenuanker, .popupmenuanker.open {
	display: block;
}

.popupmenuloading {
  -webkit-animation: rotation 2s infinite linear;
	-moz-animation: rotation 2s infinite linear;
	-o-animation: rotation 2s infinite linear;
	animation: rotation 2s infinite linear; transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to   {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to   {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to   {transform: rotate(359deg);}
}

.listviewer-item-unhover .popupmenuloading {
	display: block;
}

.popupmenuwrapper {
	padding: 5px;
	filter:alpha(opacity=95);
	opacity:0.95;
	background: #eee;
	border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
	display: none;
}

.popupmenuitem {
	padding: 5px;
	cursor: pointer;
}

.popupmenuitem svg {
	position: relative;
	top: 3px;
	width: 16px;
	height: 16px;
}

.popupmenuitem:hover {
	background-color: #ccc;
}

.popupmenuseparator {
	height: 1px;
	border-top: 1px solid #ccc;
}

.popupmenuitem:hover .popupsubmenuwapper {
	display: block;
}

.popupsubmenuwapper {
	display: none;
	position: absolute;
	width: 190px;
	margin-top: -25px;
	border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 2px 2px 5px #888888;
  padding: 5px;
	filter:alpha(opacity=95);
	opacity:0.95;
	background: #eee;
}

.popupsubmenuwapper.left {
	right: 97%
}

.popupsubmenuwapper.right {
	left: 97%;
}
