.box {
	border: 1px solid #ddd;
	margin: 0 5px 7px 5px;
	background-color: #f9f9f9;
}

.box h3 {
	margin: 0;
	padding: 3px;
	
	background-color: ;
	color: #003a6f; 
}

.box p {
	margin-top: 0px;
	margin-bottom: 8px; 
}

.box .content {
	padding: 5px;
	margin: 0;
	
}

.box .content .date{		
	font-weight:bold;
}

.box  .content h4{
	margin:0;
	margin-left:5px;
}

.box  .content .description{
	margin-left:5px;
	
}

.box .content .functionbar{
	margin-left:5px;	
}
