@CHARSET "UTF-8";
.widgets_textareacode .CodeMirror {
	float: left;
	width: 50%;
	border: 1px solid #ccc;
}

.widgets_textareacode_preview {
	width: 49%;
	float: left;
	height: 500px;
	border: 1px solid #ccc;
	border-left: 0px;
}

.CodeMirror-scroll {
    height: 500px;
}

.widgets_textareacode .CodeMirror .activeline {
	background: #f0fcff !important;
}

.widgets_textareacode .widgets_textareacode_button, .widgets_textareacode .widgets_textareacode_loader, .widgets_textareacode .widgets_textareacode_ok, .widgets_textareacode .widgets_textareacode_error {
	float: left;
}

.widgets_textareacode_button {
	cursor: pointer;
	height: 20px;
	float: left;
}

.widgets_textareacode_save_button {
	display: none;
	width: 68px;
	background-image: url("{PATH_URL}widgets/asset/save.gif");
}

.widgets_textareacode_save_button:hover {
	background-image: url("{PATH_URL}widgets/asset/save-hover.gif");
}

.widgets_textareacode_undo_button {
	display: none;
	width: 68px;
	background-image: url("{PATH_URL}widgets/asset/undo.gif");
}

.widgets_textareacode_undo_button:hover {
	background-image: url("{PATH_URL}widgets/asset/undo-hover.gif");
}

.widgets_textareacode_loader {
	display: none;
	cursor: default;
	height: 16px;
	width: 16px;
	margin-left: 10px;
	background-image: url("{PATH_URL}widgets/asset/ajax-loader.gif");	
}

.widgets_textareacode_ok {
	display: none;
	cursor: default;
	height: 16px;
	width: 16px;
	margin-left: 10px;
	background-image: url("{PATH_URL}widgets/asset/icon_ok.png");	
}

.widgets_textareacode_error {
	display: none;
	cursor: default;
	height: 16px;
	width: 16px;
	margin-left: 10px;
	background-image: url("{PATH_URL}widgets/asset/icon_error.png");	
}