.widgets_label {
	float: left;
	margin-right: 2px;
	white-space: nowrap;
}

input:focus {
	border: 1px dotted black;
}

input[readonly] {
	color: #ccc;
}

input.changed {
	border: 1px dotted black;
}

input.error {
	border: 1px dotted red;
}

.widgets_textinput, .widgets_textinput input, .widgets_textinput div {
	float: left;
}

.widgets_textinput label {
	display: block;
}

.widgets_textinput_button_delete_me {
	cursor: pointer;
	height: 20px;
	float: left;
}

.widgets_textinput_save_button_delete_me {
	display: none;
	width: 68px;
	background-image: url("{PATH_URL}widgets/asset/save.gif");
}

.widgets_textinput_save_button_delete_me:hover {
	background-image: url("{PATH_URL}widgets/asset/save-hover.gif");
}

.widgets_textinput_undo_button_delete_me {
	display: none;
	width: 68px;
	background-image: url("{PATH_URL}widgets/asset/undo.gif");
}

.widgets_textinput_undo_button_delete_me:hover {
	background-image: url("{PATH_URL}widgets/asset/undo-hover.gif");
}

.widgets_textinput_loader_delete_me {
	display: none;
	cursor: default;
	height: 16px;
	width: 16px;
	margin-left: 10px;
	background-image: url("{PATH_URL}widgets/asset/ajax-loader.gif");	
}

.widgets_textinput_ok_delete_me {
	display: none;
	cursor: default;
	height: 16px;
	width: 16px;
	margin-left: 10px;
	background-image: url("{PATH_URL}widgets/asset/icon_ok.png");	
}

.widgets_textinput_error_delete_me {
	display: none;
	cursor: default;
	height: 16px;
	width: 16px;
	margin-left: 10px;
	background-image: url("{PATH_URL}widgets/asset/icon_error.png");	
}