.widget.textarea div, .widget.textarea textarea{
	float: left;
	margin-right: 2px;
}

.widget.textarea textarea{
	width: 150px;
	margin-top: 3px;
}

/* label states */
.widget .label.texthidden span {
	display: none;
}

.widget .label.hidden {
	display:none;
}

/* textarea states */
.widget textarea:focus {
	border: 1px dotted black;
}

.widget textarea[readonly] {
	color: #ccc;
}