core/persistence/*

depending/vendor/*

platforms/bid/cache/*
platforms/bid/log/*
platforms/bid/temp/*
platforms/bid/public/.htaccess
platforms/bid/public/styles
platforms/bid/etc/local.def.php
platforms/bid/etc/platform.def.php

platforms/elab/cache/*
platforms/elab/log/*
platforms/elab/temp/*
platforms/elab/public/.htaccess
platforms/elab/public/styles
platforms/elab/etc/local.def.php

extensions/content/worksheet/templates_c/%%*
extensions/base/widgets/asset/temp/*
extensions/content/spreadsheets/etc/default.def.php

platforms/default/etc/local.def.php
.buildpath
.project
.idea
nbproject
org.eclipse.php.core.prefs
