<!-- BEGIN BLOCK_INFO -->
<div class="infoBar">
	{INFO_TEXT}
</div>
<!-- END BLOCK_INFO -->
<h3>{VALUE_DESC}</h3>
<p>{VALUE_LONG_DESC}</p>
<!-- BEGIN BLOCK_TUTORIAL -->
<p>
	{TUTORIALGROUP_INFO}
</p>
<!-- END BLOCK_TUTORIAL -->

<p>

<table  class="grid" width="100%" cellpadding="5" cellspacing="0">
<form action="{FORM_ACTION}" method="post" name="formular">
<input type="hidden" name="values[backlink]" value="{VALUE_BACKLINK}" />
<!-- BEGIN BLOCK_MAXPOINT -->
  <input type="hidden" name="values[maxpoints][{MAXPOINT_INDEX}]" value="{MAXPOINT_VALUE}" />
<!-- END BLOCK_MAXPOINT -->

  <tr>
		<td class="label">{LABEL_NAME}</td>
    <!-- BEGIN BLOCK_TABLE_HEADER -->
      <td class="label">{TABLE_HEADER_LABEL}</td>
    <!-- END BLOCK_TABLE_HEADER -->
    <!-- BEGIN BLOCK_SPACER -->
      <td width="100%">
      </td>
    <!-- END BLOCK_SPACER -->
	</tr>
  <!-- BEGIN BLOCK_MAXPOINTS_DATA -->
	<tr>
		<td class="value">{LABEL_MAXPOINTS}</td>
    <!-- BEGIN BLOCK_MAXPOINT_DATA -->
      <td class="value" align="right" width="200px;">{VALUE_MAXPOINT}</td>
    <!-- END BLOCK_MAXPOINT_DATA -->
    <!-- BEGIN BLOCK_SPACER3 -->
      <td width="100%">
      </td>
    <!-- END BLOCK_SPACER3 -->
	</tr>
  <!-- END BLOCK_MAXPOINTS_DATA -->

  <!-- BEGIN BLOCK_MEMBER -->
	<tr>
		<td class="value" title="{MEMBER_TITLE}">{MEMBER_NAME}</td>
    <!-- BEGIN BLOCK_POINTS_ADMIN -->
      <td class="value" align="right" title="{POINT_TITLE}">
        <input type="text" maxlength="5" size="3" name="values[points][{MEMBER_ID}][{MEMBER_SHEETCOUNT}]" value="{MEMBER_POINTS}" {POINT_STYLE}></td></td>
    <!-- END BLOCK_POINTS_ADMIN -->
    <!-- BEGIN BLOCK_POINTS -->
      <td class="value" align="right" width="200px;">{MEMBER_POINTS}</td>
    <!-- END BLOCK_POINTS -->
    <!-- BEGIN BLOCK_SPACER2 -->
      <td width="100%">
      </td>
    <!-- END BLOCK_SPACER2 -->

	</tr>
  <!-- END BLOCK_MEMBER -->

  <!-- BEGIN BLOCK_SUBMIT -->
	<tr>
		<td class="value" align="right" colspan="{SUBMIT_COLSPAN}"><br /><input type="submit" value="{LABEL_SUBMIT}" name="save" />{BACKLINK}</td>
	</tr>
  <!-- END BLOCK_SUBMIT -->

  <!-- BEGIN BLOCK_WRITE -->
	<tr>
		<td class="value" align="right" colspan="{WRITE_COLSPAN}">{LINK_ENABLE_WRITE}</td>
	</tr>
  <!-- END BLOCK_WRITE -->
</form>

  <!-- BEGIN BLOCK_ENTERPOINTS -->
  <!--<tr>
    <td height="10px">
    </td>
    <td colspan="{ENTERPOINTS_COLSPAN}">
    </td>
  </tr>-->
  <tr>
    <form action="{FORM_ACTION_ENTERPOINTS}" method="post" name="formular">
      <td class="label">{LABEL_ENTERPOINTS}</td>
      <td class="value" colspan="{ENTERPOINTS_COLSPAN}">&#160;{LABEL_ENTERPOINTS_KEY}<input type="text" size="30" value="{VALUE_ENTERPOINTS_KEY}" name="{NAME_ENTERPOINTS_KEY}" id="{NAME_ENTERPOINTS_KEY}" />&#160;&#160;{LABEL_ENTERPOINTS_VALUE}<input type="text" maxlength="5" size="3" value="{VALUE_ENTERPOINTS_VALUE}" name="{NAME_ENTERPOINTS_VALUE}"  title="{ENTERPOINTS_POINT_TITLE}" {ENTERPOINTS_POINT_STYLE} />&#160;&#160;{LABEL_ENTERPOINTS_SHEET}
      <select name="sheetnumber">
        <!-- BEGIN BLOCK_SHEET -->
          <option name="{SHEET_NAME}" value="{SHEET_NR}" {SHEET_SELECTED}>{SHEET_NAME}</option>
        <!-- END BLOCK_SHEET -->
      </select>
      &#160;<input type="submit" value="{LABEL_ENTERPOINTS_SUBMIT}" name="{NAME_ENTERPOINTS_SUBMIT}" /></td>
    </form>
  </tr>
  <!--<tr>
    <td height="10px">
    </td>
    <td colspan="{ENTERPOINTS_COLSPAN}">
    </td>
  </tr>-->
  <!-- END BLOCK_ENTERPOINTS -->


  <!-- BEGIN BLOCK_CHOOSEMEMBER -->
  <tr>
    <form action="{FORM_ACTION_CHOOSEMEMBER}" method="post" name="formular">
    <input type="hidden" name="sheetnumber" value="{VALUE_CHOOSEMEMBER_SHEETNUMBER}" />
      <td class="label">{LABEL_CHOOSEMEMBER}</td>
      <td class="value" colspan="{CHOOSEMEMBER_COLSPAN}" ><input type="text" size="30" value="{VALUE_CHOOSEMEMBER}" name="{NAME_CHOOSEMEMBER}" id="{NAME_CHOOSEMEMBER}" />&#160;<input type="submit" value="{LABEL_CHOOSEMEMBER_SUBMIT}" name="{NAME_CHOOSEMEMBER_SUBMIT}" /></td>
    </form>
  </tr>
  <!-- END BLOCK_CHOOSEMEMBER -->

</table>


</p>
