<!-- BEGIN BLOCK_INFO -->
<div class="infoBar">
	{INFO_TEXT}
</div>
<!-- END BLOCK_INFO -->

<form action="{FORM_ACTION}" method="post" name="formular">
<input type="hidden" name="values[backlink]" value="{VALUE_BACKLINK}" />

<table  class="grid" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="label">{LABEL_NAME}*:</td>
		<td class="value"><input type="text" name="values[name]" style="width: 400px;" value="{VALUE_NAME}" {NAME_DISABLED} /></td>
	</tr>
  <!-- BEGIN BLOCK_SHORT_DSC -->
 	<tr>
		<td class="label">{LABEL_SHORT_DSC}*:</td>
		<td class="value"><input type="text" name="values[dsc]" style="width: 400px;" value="{VALUE_SHORT_DSC}"/>
		<br />{INFO_DSC_SUBJECT}</td>
	</tr>
  <!-- END BLOCK_SHORT_DSC -->
  <tr>
    <td class="label">{LABEL_DSC}:</td>
    <td>
    <textarea name="values[long_dsc]" style="width: 400px;" rows="5">{VALUE_DSC}</textarea><br />
	<a href="javascript:insert('[b]', '[/b]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_BOLD}"><b>{LABEL_BB_BOLD}</b></a>&nbsp;
	<a href="javascript:insert('[i]', '[/i]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_ITALIC}"><i>{LABEL_BB_ITALIC}</i></a>&nbsp;
	<a href="javascript:insert('[u]', '[/u]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_UNDERLINE}"><u>{LABEL_BB_UNDERLINE}</u></a>&nbsp;
	<a href="javascript:insert('[s]', '[/s]', 'formular', 'values[dsc]')" class="textformat_button" style="text-decoration: line-through;" title="{HINT_BB_STRIKETHROUGH}">{LABEL_BB_STRIKETHROUGH}</a>&nbsp;
	<a href="javascript:insert('[img]http://', '[/img]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_IMAGE}">{LABEL_BB_IMAGE}</a>&nbsp;
	<a href="javascript:insert('[url=http://]', '[/url]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_URL}">{LABEL_BB_URL}</a>&nbsp;
	<a href="javascript:insert('[mail=@]', '[/mail]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_MAIL}">{LABEL_BB_MAIL}</a>
	<br />{LABEL_DSC_SHOW_UP}
    </td>
  </tr>
	<tr>
		<td class="label">{LABEL_COUNT}:</td>
		<td class="value">
      <select name="values[count]">
        <!-- BEGIN BLOCK_COUNT_OPTION -->
          <option name="{COUNT_OPTION_VALUE}" value="{COUNT_OPTION_VALUE}" {COUNT_OPTION_SELECTED}>{COUNT_OPTION_VALUE}</option>
        <!-- END BLOCK_COUNT_OPTION -->
      </select>
    </td>
	</tr>
  <!-- BEGIN BLOCK_PARTICIPANTS -->
  <tr>
		<td class="label">{LABEL_PARTICIPANTS}:</td>
		<td class="value">
      <select name="values[participants]" {PARTICIPANT_GROUPS_DISABLED}>
        <!-- BEGIN BLOCK_PARTICIPANT_GROUP -->
          <option name="{PARTICIPANT_GROUP_NAME}" value="{PARTICIPANT_GROUP_ID}" {PARTICIPANT_GROUP_SELECTED}>{PARTICIPANT_GROUP_NAME}</option>
        <!-- END BLOCK_PARTICIPANT_GROUP -->
      </select>
    </td>
  </tr>
  <!-- END BLOCK_PARTICIPANTS -->
  <!-- BEGIN BLOCK_BONUS -->
	<tr>
		<td class="label">{BONUS_LABEL}</td>
		<td class="value">
      <input type="text" value="{BONUS_VALUE}" name="{BONUS_NAME}" size="3" maxlength="5" />
    </td>
	</tr>
  <!-- END BLOCK_BONUS -->
</table>
<div class="buttons" style="text-align: left;">
	<input type="submit"  value="{LABEL_CREATE}" name="unit_new[{UNIT}]" /> {BACKLINK}
</div>
</form>
