.popup_dialog {
	display: none;
	font-family: 'Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
  font-size: 10px;
  line-height: 20px;
  position: absolute;
  top: 150px;
  left: 250px;
	z-index: 255;
	padding: 5px;
	width: 350px;
	background-color: white;
	color: black;
	padding: 10px;
	border: 1px solid #ccc;
	-moz-box-shadow:2px 2px 5px #888;
	-webkit-box-shadow:2px 2px 5px #888;
	box-shadow:2px 2px 5px #888;
}

.popup_dialog h2 {
	margin-top: 3px;
	border-bottom: 1px solid #ccc;
}

.popup_dialog a:link, .admin a:visited, .admin a:active, .admin a:link:hover, .admin a:visited:hover, .admin a:active:hover{
	color: white;
}

.popup_dialog .textfield {
	color: white;
	font-size: 10px;
	border: 1px solid white;
	background-color: black;
	height: 15px;
	width: 290px;
	padding: 3px;
}

.popup_dialog td {
	border: none;
	background-color: white;
}

.popup_dialog .button {
	border: 1px solid grey;
	float: right;
	padding-left: 4px;
	padding-right: 4px;
	cursor: pointer;
}

.popup_dialog .button:hover {
	background-color: #ccc;
}

.popup_dialog input[type='text'] {
	width: 200px;
}

.wiki-close-button {
	float: right;
}

.wiki-close-button:hover {
	cursor: pointer;
	color: red;
}

#wiki_dialog_link_extern, #wiki_dialog_link_entry, #wiki_dialog_link_entry_name, #wiki_dialog_image_extern, #wiki_dialog_image_entry, .popup_dialog {
	display: none;
}

/*
** Wiki
** used in wiki_edit.template.html, wiki_index.template.html
*/

.wiki_toolbar {
	border-spacing: 5px;
}

.wiki_toolbar td {
	margin: 0px;
	padding: 0px;
	border: 1px solid grey;
}

.wiki_toolbar .toolbar_select_text {
	padding-left: 3px;
	padding-right: 3px;
	vertical-align: middle;
}

.wiki_toolbar .toolbar_select_wrapper {
	margin: 0px;
	padding: 0px;
	border: 0px;
	border-spacing: 0px;
	height: 30px;
}

#toolbar_select_wrapper_style {
	width: 100px;
}

.wiki_toolbar .toolbar_select_text_td {
	background-color: white;
}

.wiki_toolbar .toolbar_select_wrapper td {
	border: 0px;
}

.wiki_toolbar .toolbar_combo_button_td {
	width: 10px;
}

.wiki_toolbar .toolbar_combo_button {
	position: relative;
	cursor: pointer;
	width: 12px;
	height: 30px;
	color: #396d9e;
	vertical-align: middle;
  display: table-cell;
}

.wiki_toolbar .toolbar_select_popup_wrapper {
	display: none;
	position: absolute;
	top: 20px;
	right: -1px;
	background-color: white;
	border: 1px solid grey;
}

#toolbar_select_wrapper_style .toolbar_select_popup_wrapper {
	width: 150px;
}

#toolbar_select_wrapper_ul .toolbar_select_popup_wrapper, #toolbar_select_wrapper_ol .toolbar_select_popup_wrapper {
	width: 60px;
}

.wiki_toolbar .toolbar_select_popup_wrapper .toolbar_select_popup_item:hover {
	background-color: #ccc;
}

.wiki_toolbar .toolbar_select_popup_wrapper .toolbar_select_popup_item h1  {
	padding: 3px;
}

.wiki_toolbar .toolbar_select_popup_wrapper .toolbar_select_popup_item h2 {
	margin: 0px;
}

.wiki_toolbar .toolbar_select_popup_wrapper .toolbar_select_popup_item h3 {
	margin: 0px;
}

.wiki_toolbar .toolbar_select_popup_wrapper .toolbar_select_popup_item  {
	padding: 3px;
	cursor: pointer;
}

.wiki_toolbar .toolbar_icon {
	display: block;
	cursor: pointer;
	width: 30px;
	height: 30px;
}

.wiki_toolbar .toolbar_icon:hover, .wiki_toolbar .toolbar_combo_button:hover {
	background-color: #ccc;
}

.wiki_toolbar .toolbar_icon_bold {

}

.wiki_toolbar .toolbar_icon_italic {

}

.wiki_toolbar .toolbar_icon_ul {

}

.wiki_toolbar .toolbar_icon_ol {

}

.wiki_toolbar .toolbar_icon_line {

}

.wiki_toolbar .toolbar_icon_link {

}

.wiki_toolbar .toolbar_icon_image {

}

.wiki_toolbar .toolbar_icon_note {

}

.wiki_toolbar .toolbar_icon_comment {

}

.wiki_toolbar .toolbar_icon_help{

}

.wiki_toolbar .toolbar_icon_table{

}

.wiki_toolbar .toolbar_icon_pressed{
	background-color: #CCCCCC;
}

.wiki .wiki_text .html{
	overflow-x: auto;
	overflow-y: hidden;
}

.wiki .notexistant {
	color: #BA0000;
}

.wiki_text hr {
	background-color: black;
	height: 1px;
}

.wiki .marked {
	display: inline;
	background-color: yellow;
}

.wiki .annotation{
	display: inline;
}

.wiki .main .annotation img{
	display: inline;
	border: none;
}

.wiki .annotated{
	display: inline;
	border: 3px solid yellow;
}

.wiki .main .sectionIndex {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 7px;
}

.wiki .main .section h3 {
	margin: 0;
	padding: 0;
	padding-top: 7px;
	border-bottom: 1px solid #ddd;
}

.wiki .main {
	padding: 0 0 0 5px;
	display: inline-block;
	width: 100%;
}

.wiki .main img {
	float: none;
}

.wiki .main .date {
	text-align: right;
	margin: 0;
	padding: 0;
	margin-bottom: 8px;
	color: #888;
}

.wiki .main .entry .title {
	margin: 0;
	margin-top: 20px;
	padding: 0;
}

.wiki .main .entry .text {
	padding: 5px 0 5px 0;
}

.wiki .main .entry .info {
	font-size: 90%;
	padding: 5px;
	background-color: #ddd;
	margin-bottom: 15px;
}

.wiki .sidebar {
	background-color: #eee;
	padding: 5px;
}

.wiki .sidebar h3 {
	margin: 0;
	color: #888;
	border-bottom: 1px solid #ddd;
}

.wiki .sidebar ul {
	margin: 5px 7px 15px;
	padding: 0;
}

.wiki .sidebar li {
	list-style: none;
}

.wiki #wikiHelp{
	float: left;
	display: block;
	width: 99%;
	border: 1px solid #B3B2B2;
	background-color: #B3B2B2;
}

.wiki #wikiHelp .index{
	float: left;
	width: 19%;
	cursor: pointer;
	height: 125px;
	overflow: auto;
	color: #0645AD;
	background: white;
	padding-left:5px;
	padding-top:5px;
}

.wiki #wikiHelp .pages{
	float: right;
	width: 80%;
	height: 125px;
	overflow: auto;
}

.wiki #wikiHelp table{
	width: 100%;
	border-style: none;
	border-top: 1px solid #EEEEEE;
}

.wiki #wikiHelp .current{
	background-color: #B3B2B2;
}

.wiki #wikiHelp .pages .disabled{
	display: none;
}

.wiki #wikiHelp .pages .current{
	display: block;
}

.wiki #wikiHelp td{
	border-right: none;
	border-bottom: none;
}

#popup_dialog_wiki_table input[type="text"]{
	width:auto;
}

#searchControl{
	float: left;
	width: 24%;
}

#searchResultViewer{
	float: left;
	width: 75%;
}

#container{
	font-size: 16px;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	visibility: hidden;
	z-index: 1;
}

#greyBox{
	background-color: #000000;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 2;
	filter: alpha(opacity=50); /* IE5-7 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE8 */
	opacity: .5; /* everything else */
}

#imageBox{
	border-radius: 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 2px 2px 5px #333;
	-moz-box-shadow: 2px 2px 5px #333;
	background-color: #FFFFFF;
	padding: 20px;
	text-align: center;
	position: fixed;
	z-index: 3;
}

#imgName{
	left: 20px;
	top: 20px;
}

#close svg{
	position: absolute;
	right: 5px;
	top: 5px;
	color: #000000;
	width: 18px;
	height: 18px;
}

#close:hover svg {
	color:red;
}

.wiki .main .sectionIndex > a {
	padding-right: 22px;
}
