ul.jqueryFileTree {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 0px;
	margin: 0px;
}

ul.jqueryFileTree li {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0px;
	white-space: nowrap;
}

.jqueryFileTree li.collapsed { 
    background: url("/filetree/asset/tree_plus.gif") left top no-repeat; 
}

.jqueryFileTree li.expanded { 
    background: url("/filetree/asset/tree_minus.gif") left top no-repeat; 
}

.jqueryFileTree li.wait { 
    background: url("/filetree/asset/spinner.gif") left top no-repeat; 
}

ul.jqueryFileTree a {
	color: #333;
	text-decoration: none;
        display: inline-block;
	padding: 0px 2px;
}

ul.jqueryFileTree a:hover {
	background: #BDF;
}

.jqueryFileTree li a.highlighted { 
    background-color: #DDDDDD; 
}