{DUMMY}
<table width="100%">
	<tr>
		<td id="GoodStuff" valign="top">
		<h3>{LABEL_EDIT_TUTORIAL_DESCRIPTION}</h3>
		<form method="post" onsubmit="return window.confirm('Wirklich ändern?')" name="group_dsc">
		<table cellspacing="0" cellpadding="5">

			
			<tr>
				<td class="Label">{LABEL_TUTORIAL_DESC}*:</td>
				<td>
					<input name="values[dsc]" type="text" size="40" value="{VALUE_TUTORIAL_DESC}">
				</td>
			</tr>
			
			<tr>
				<td class="Label">{LABEL_TUTORIAL_LONG_DESC}:</td>
				<td>
					<textarea name="values[long_dsc]" style="width: 400px;" rows="10">{VALUE_TUTORIAL_LONG_DESC}</textarea><br />
					<small>({LONG_DSC_SHOW_UP})</small><br/>
					<b onClick="insert('[b]', '[/b]', 'group_dsc', 'values[TUTORIAL_LONG_DSC]')" style="cursor: pointer;" >B</b>&nbsp;
					<i onClick="insert('[i]', '[/i]', 'group_dsc', 'values[TUTORIAL_LONG_DSC]')" style="cursor: pointer;">I</i>&nbsp;
					<u onClick="insert('[u]', '[/u]', 'group_dsc', 'values[TUTORIAL_LONG_DSC]')" style="cursor: pointer;">U</u>&nbsp;
					<span onClick="insert('[s]', '[/s]', 'group_dsc', 'values[TUTORIAL_LONG_DSC]')" style="cursor: pointer; text-decoration: line-through">S</span>&nbsp;
					<b onClick="insert('[img]http://', '[/img]', 'group_dsc', 'values[TUTORIAL_LONG_DSC]')" style="cursor: pointer;">IMG</b>&nbsp;
					<b onClick="insert('[url=http://]', '[/url]', 'group_dsc', 'values[TUTORIAL_LONG_DSC]')" style="cursor: pointer;">URL</b>&nbsp;
					<b onClick="insert('[mail=@]', '[/mail]', 'group_dsc', 'values[TUTORIAL_LONG_DSC]')" style="cursor: pointer;">MAIL</b>		
				</td>
			</tr>
			<tr>
				<td class="Label">{LABEL_TUTORIAL_TUTOR}:</td>
				<td>
					<input name="values[tutor]" type="text" size="20" value="{VALUE_TUTORIAL_TUTOR}">
				</td>
			</tr>
			<tr>
				<td class="Label">{LABEL_TUTORIAL_MAX_LEARNERS}:</td>
				<td>
					<input name="values[learners]" type="text" size="3" value="{VALUE_TUTORIAL_MAX_LEARNERS}">
				</td>
			</tr>
			
			<tr>
				<td colspan="2">&nbsp;</td>
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>
					<div class="buttons" style="text-align: left;">
						<input type="submit"  value="{LABEL_SAVE_CHANGES}" >
						{BACKLINK}
					</div>
				</td>
			</tr>
		</table>
		</form>
		</td>
	</tr>
</table>