<!-- BEGIN BLOCK_INFO_TEXT -->
<div class="infoBar">
	{INFO_TEXT}
</div>
<!-- END BLOCK_INFO_TEXT -->

<form action="{FORM_ACTION}" name="tutorials_prefs" method="post">
<input type="hidden" name="values[backlink]" value="{VALUE_BACKLINK}">
<table class="grid" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="label">{LABEL_EXCLUSIVE}:</td>
		<td class="value">
			<p>{EXCLUSIVE_INFO}</p>
			<p><input type="checkbox" id="exclusive" name="values[exclusive]" value="1" {CHECK}><label for="exclusive">{EXCLUSIVE_SHORT}</label></p>
		</td>
	</tr>
	<tr>
		<td class="label">&nbsp;</td>
		<td class="value"><input type="submit"  value="{LABEL_SAVE_PREFS}"/>{BACKLINK}</td>
	</tr>
</table>
</form>
