<h3>{LABEL_GROUPS}</h3>

<!-- BEGIN BLOCK_PAGES -->
<div class="paginator">
    <!-- BEGIN BLOCK_PAGE -->
    {PAGE}
    <!-- END BLOCK_PAGE -->
    {RESULTS}
</div>
<!-- END BLOCK_PAGES -->


<!-- BEGIN BLOCK_GROUP_LIST -->
<form action="" method="post">
<table class="grid" width="100%" cellspacing="1" cellpadding="5">
<tr>
	<th>{LABEL_NAME_DESCRIPTION}</th>
	<th>{LABEL_TUTOR}</th>
	<th title="{GROUP_MEM_TITLE}">{LABEL_MEMBERS}</th>
	<th title="{VALUE_MAX_TITLE}">{LABEL_MAX_LEARNERS}</th>
	<th>{LABEL_COMMUNICATION}</th>
	<th>{LABEL_ACTION}</th>
</tr>
<!-- BEGIN BLOCK_GROUP -->
<tr>
	{GROUPLINK}
	<td align="center">{VALUE_TUTOR}</td>
	<td align="center" title="{GROUP_MEM_TITLE}">{GROUP_MEMBERS}</td>
	<td align="center" title="{VALUE_MAX_TITLE}">{VALUE_MAX_LEARNERS}</td>
	{COMMUNICATION}
	<td align="center">{TUTORIAL_ACTION}</td>
</tr>
<!-- END BLOCK_GROUP -->
</table>
</form>
<!-- END BLOCK_GROUP_LIST -->
{EXTRA_INFO}
