<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWCopyFiles</key>
	<array>
		<string>css</string>
		<string>styles.css</string>
		<string>print.css</string>
		<string>handheld.css</string>
		<string>javascript.js</string>
		<string>images</string>
	</array>
	<key>RWStyleVariations</key>
	<dict>
		<key>RWStyleGroups</key>
		<array>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>de</key>
					<string>Stil</string>
					<key>en</key>
					<string>Styles</string>
					<key>fr</key>
					<string>Style</string>
					<key>it</key>
					<string>Stili</string>
					<key>ja</key>
					<string>スタイル</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Zartrosa</string>
							<key>en</key>
							<string>Soft Pink</string>
							<key>fr</key>
							<string>Rose doux</string>
							<key>it</key>
							<string>Rosa pallido</string>
							<key>ja</key>
							<string>優しいピンク</string>
						</dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/styles/soft_pink.css</string>
						</array>
						<key>Name</key>
						<string>Soft Pink</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Lippenstift</string>
							<key>en</key>
							<string>Vibrant Pink</string>
							<key>fr</key>
							<string>Rose intense</string>
							<key>it</key>
							<string>Rosa vivace</string>
							<key>ja</key>
							<string>鮮やかなピンク</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/styles/vibrant_pink.css</string>
						</array>
						<key>Name</key>
						<string>Vibrant Pink</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Blau</string>
							<key>en</key>
							<string>Blue</string>
							<key>fr</key>
							<string>Bleu</string>
							<key>it</key>
							<string>Blu</string>
							<key>ja</key>
							<string>青</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/styles/blue.css</string>
						</array>
						<key>Name</key>
						<string>Blue</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Grün</string>
							<key>en</key>
							<string>Green</string>
							<key>fr</key>
							<string>Vert</string>
							<key>it</key>
							<string>Verde</string>
							<key>ja</key>
							<string>緑</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/styles/green.css</string>
						</array>
						<key>Name</key>
						<string>Green</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Grau</string>
							<key>en</key>
							<string>Grey</string>
							<key>fr</key>
							<string>Gris</string>
							<key>it</key>
							<string>Grigio</string>
							<key>ja</key>
							<string>グレイ</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/styles/grey.css</string>
						</array>
						<key>Name</key>
						<string>Grey</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Styles</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>de</key>
					<string>Breite</string>
					<key>en</key>
					<string>Width</string>
					<key>fr</key>
					<string>Largeur</string>
					<key>it</key>
					<string>Larghezza</string>
					<key>ja</key>
					<string>幅</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Standardbreite (700px)</string>
							<key>en</key>
							<string>Default Width (700px)</string>
							<key>fr</key>
							<string>Largeur par défaut (700px)</string>
							<key>it</key>
							<string>Larghezza di default (700px)</string>
							<key>ja</key>
							<string>デフォルト幅 (700px)</string>
						</dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/width/width_default.css</string>
						</array>
						<key>Name</key>
						<string>Default Width (700px)</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Flexibel</string>
							<key>en</key>
							<string>Variable</string>
							<key>fr</key>
							<string>Variable</string>
							<key>it</key>
							<string>Variabile</string>
							<key>ja</key>
							<string>可変</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/width/width_variable.css</string>
						</array>
						<key>Name</key>
						<string>Variable</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>600px</string>
							<key>en</key>
							<string>600px</string>
							<key>fr</key>
							<string>600px</string>
							<key>it</key>
							<string>600px</string>
							<key>ja</key>
							<string>600px</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/width/width_600.css</string>
						</array>
						<key>Name</key>
						<string>600px</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>1000px</string>
							<key>en</key>
							<string>1000px</string>
							<key>fr</key>
							<string>1000px</string>
							<key>it</key>
							<string>1000px</string>
							<key>ja</key>
							<string>1000px</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/width/width_1000.css</string>
						</array>
						<key>Name</key>
						<string>1000px</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Width</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>de</key>
					<string>Menüleiste</string>
					<key>en</key>
					<string>Sidebar</string>
					<key>fr</key>
					<string>Barre latérale</string>
					<key>it</key>
					<string>Barra laterale</string>
					<key>ja</key>
					<string>サイドバー</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Rechts</string>
							<key>en</key>
							<string>Right</string>
							<key>fr</key>
							<string>À droite</string>
							<key>it</key>
							<string>Destra</string>
							<key>ja</key>
							<string>右</string>
						</dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/sidebar/sidebar_right.css</string>
						</array>
						<key>Name</key>
						<string>Right</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Links</string>
							<key>en</key>
							<string>Left</string>
							<key>fr</key>
							<string>À gauche</string>
							<key>it</key>
							<string>Sinistra</string>
							<key>ja</key>
							<string>左</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/sidebar/sidebar_left.css</string>
						</array>
						<key>Name</key>
						<string>Left</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Ausblenden</string>
							<key>en</key>
							<string>Hide</string>
							<key>fr</key>
							<string>Masquée</string>
							<key>it</key>
							<string>Nascondi</string>
							<key>ja</key>
							<string>隠す</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/sidebar/sidebar_hide.css</string>
						</array>
						<key>Name</key>
						<string>Hide</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Sidebar</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>RWTemplateHTML</key>
	<string>index.html</string>
	<key>RWTextToolbar</key>
	<dict>
		<key>RWAlwaysDisplayFullNavigation</key>
		<false/>
		<key>RWBreadCrumb</key>
		<string>&lt;ul&gt;%items%&lt;/ul&gt;</string>
		<key>RWBreadCrumbItem</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot;&gt;%title%&lt;/a&gt;%separator%&lt;/li&gt;</string>
		<key>RWBreadCrumbSeparator</key>
		<string>&amp;nbsp;&gt;&amp;nbsp;</string>
		<key>RWSupportedLevels</key>
		<integer>4</integer>
		<key>RWToolbarItemCurrent</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot; rel=&quot;%rel%&quot; id=&quot;current&quot;&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestor</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot; rel=&quot;%rel%&quot; class=&quot;currentAncestor&quot;&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemNormal</key>
		<string>&lt;li&gt;&lt;a href=&quot;%url%&quot; rel=&quot;%rel%&quot;&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarList</key>
		<string>&lt;ul&gt;%items%&lt;/ul&gt;</string>
	</dict>
	<key>RWThemeAuthor</key>
	<string>Realmac Software</string>
	<key>RWThemeCapabilities</key>
	<dict>
		<key>RWSupportsContentOnlySubPages</key>
		<true/>
		<key>RWSupportsDisplayNames</key>
		<true/>
		<key>RWSupportsPathTo</key>
		<true/>
		<key>RWSupportsToolbarRelTag</key>
		<true/>
	</dict>
	<key>RWThemeDisplayName</key>
	<dict>
		<key>de</key>
		<string>Simple</string>
		<key>en</key>
		<string>Simple</string>
		<key>fr</key>
		<string>Simple</string>
		<key>it</key>
		<string>Semplice</string>
		<key>ja</key>
		<string>シンプル</string>
	</dict>
	<key>RWThemeImage</key>
	<string>preview.png</string>
	<key>RWThemeImageLarge</key>
	<string>preview_large.jpg</string>
	<key>RWThemeKeywords</key>
	<array>
		<string>clean</string>
		<string>vertical</string>
		<string>white</string>
		<string>plain</string>
		<string>pink</string>
		<string>blue</string>
		<string>green</string>
		<string>variable</string>
	</array>
	<key>RWThemeName</key>
	<string>Simple</string>
	<key>RWThemeShippedInVersion</key>
	<string>3.2</string>
	<key>RWThemeShortName</key>
	<string>simple</string>
	<key>RWVersion</key>
	<integer>1</integer>
</dict>
</plist>
