.portlet.appointment .message {
  	clear: both;
  	font-size: 12px;
  	line-height: 1.4em;
  	padding: 4px;
}

.portlet.appointment {
  border: 1px solid #CDCDCD;
}

.portlet.appointment .hidden{
  display: none;
}
