html {
	background: #ffffff;
}

#header #logo_wrapper {
	left: 10px;
	position: absolute;
}

#menu_wrapper_bg {
	background-color: #fff;
}

#menu {
	background: #3a6e9f;
}

#menu li .menu_text a {
	color: #333;
	background-color: #f00;
}

#menu li .menu_text {
	color: #ffffff;
}

#topImage{
	color:#b0b0b0;
	background-image:url(../images/page_layout/startpage.jpg);
	border-bottom: 1px solid rgb(221, 221, 221);
}

.dialogTitleBar {
	 background: #3a6e9f;
	 color: #FFFFFF;
	 height: 28px;
	 margin-top: -17px;
	 margin-left: -14px;
	 margin-right: -14px;
	 margin-bottom: 10px;
}

a,a:link, a:visited {
	text-decoration: none;
	color: #396d9c;
}
