<!-- BEGIN BLOCK_CONTEXT_MENU -->
<div class="actionBar">
    <!-- BEGIN BLOCK_MENU_ENTRY -->
	{LINK_MENU_ENTRY}
	<!-- END BLOCK_MENU_ENTRY -->
</div>
<!-- END BLOCK_CONTEXT_MENU -->

<h2><img src="../../../../../styles/koala-lernszenarien/assets/mediarena/icon48.gif" style="vertical-align:middle;"></img> {VALUE_DESC}</h2><br/>
<b>1. Schritt - Lade dir den Mediarena Composer herunter.</b>
Der Mediarena Composer ist ein Rich Client, der für diese Mediathing Lektion benötigt wird. 
Entpacke das Archiv und starte die ausführbare Datei. 
Du benötigst mindestens Java 5, damit du den Mediarena Composer starten kann.
Bei Problemen oder für Anregungen schreib einfach eine Mail an <a href="mailto:nicke@uni-paderborn.de">nicke@uni-paderborn.de</a>.<br />
<br />
<img src="../../../../../styles/koala-lernszenarien/assets/mediarena/linux32.png" style="vertical-align:middle;"></img> <div>
<a href="../../../../../styles/koala-lernszenarien/assets/mediarena/mediarena_2.7.1-elab-linux.gtk.x86.zip">Mediarena Composer v2.7.1 (elab Version) für Linux (mit GTK, 32bit)</a><br />
<a href="../../../../../styles/koala-lernszenarien/assets/mediarena/mediarena_2.7.1-elab-linux.gtk.x86_64.zip">Mediarena Composer v2.7.1 (elab Version) für Linux (mit GTK, 64bit)</a></div>
<br />
<img src="../../../../../styles/koala-lernszenarien/assets/mediarena/mac32.png" style="vertical-align:middle;"></img> <div>
<a href="../../../../../styles/koala-lernszenarien/assets/mediarena/mediarena_2.7.1-elab-macosx.cocoa.x86.zip">Mediarena Composer v2.7.1 (elab Version) für MacOS X (cocoa, Intel)</a><br />
<a href="../../../../../styles/koala-lernszenarien/assets/mediarena/mediarena_2.7.1-elab-macosx.cocoa.ppc.zip">Mediarena Composer v2.7.1 (elab Version) für MacOS X (cocoa, PowerPC)</a><br />
<a href="../../../../../styles/koala-lernszenarien/assets/mediarena/mediarena_2.7.1-elab-macosx.carbon.x86.zip">Mediarena Composer v2.7.1 (elab Version) für MacOS X (carbon, Intel)</a><br />
<a href="../../../../../styles/koala-lernszenarien/assets/mediarena/mediarena_2.7.1-elab-macosx.carbon.ppc.zip">Mediarena Composer v2.7.1 (elab Version) für MacOS X (carbon, PowerPC)</a><br />
</div>
<br />
<img src="../../../../../styles/koala-lernszenarien/assets/mediarena/win32.png" style="vertical-align:middle;"></img> <div><a href="../../../../../styles/koala-lernszenarien/assets/mediarena/mediarena_2.7.1-elab-win32.win32.x86.zip">Mediarena Composer v2.7.1 (elab Version) für Windows (XP, Vista und 7)</a><br /></div>
<br />
<br /><br />
<b>2. Schritt - Erstelle eine Verknüfung zu dieser Lektion</b>
Damit du mit dem Mediarena Composer in die diese Lektion navigieren kannst, benötigst du eine Verknüfung in deinem Benutzerverzeichnis auf diesem Server. 
Um diese Verknüpfung automatisch anzulegen, betätige die Schaltfläche:<br /><br /><br />


<div class="buttons" style="text-align:left"><a href="./create_exit">Verknüpfung anlegen</a></div>
