<!-- BEGIN BLOCK_INFO -->
<div class="infoBar">
	{INFO_TEXT}
</div>
<!-- END BLOCK_INFO -->

<form action="{FORM_ACTION}" method="post" name="formular">
<input type="hidden" name="values[backlink]" value="{VALUE_BACKLINK}" />

<table  class="grid" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="label">{LABEL_NAME}*:</td>
		<td class="value"><input type="text" name="values[name]" style="width: 400px;" value="{VALUE_NAME}" {NAME_DISABLED} /></td>
	</tr>
</table>
<div class="buttons" style="text-align: left;">
	<input type="submit"  value="{LABEL_CREATE}" name="unit_new[{UNIT}]" /> {BACKLINK}
</div>
</form>