<!-- BEGIN BLOCK_INFO -->
<div class="infoBar">
	{INFO_TEXT}
</div>
<!-- END BLOCK_INFO -->

<form action="{FORM_ACTION}" method="post" name="formular">
<input type="hidden" name="values[backlink]" value="{VALUE_BACKLINK}" />

<table  class="grid" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="label">{LABEL_NAME}*:</td>
		<td class="value"><input type="text" name="values[name]" style="width: 400px;" value="{VALUE_NAME}" {NAME_DISABLED} /></td>
	</tr>
  <!-- BEGIN BLOCK_SHORT_DSC -->
 	<tr>
		<td class="label">{LABEL_SHORT_DSC}*:</td>
		<td class="value"><input type="text" name="values[dsc]" style="width: 400px;" value="{VALUE_SHORT_DSC}"/>
		<br />{INFO_DSC_SUBJECT}</td>
	</tr>
  <!-- END BLOCK_SHORT_DSC -->
  <tr>
    <td class="label">{LABEL_DSC}:</td>
    <td>
    <textarea name="values[long_dsc]" style="width: 400px;" rows="5">{VALUE_DSC}</textarea><br />
	<a href="javascript:insert('[b]', '[/b]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_BOLD}"><b>{LABEL_BB_BOLD}</b></a>&nbsp;
	<a href="javascript:insert('[i]', '[/i]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_ITALIC}"><i>{LABEL_BB_ITALIC}</i></a>&nbsp;
	<a href="javascript:insert('[u]', '[/u]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_UNDERLINE}"><u>{LABEL_BB_UNDERLINE}</u></a>&nbsp;
	<a href="javascript:insert('[s]', '[/s]', 'formular', 'values[dsc]')" class="textformat_button" style="text-decoration: line-through;" title="{HINT_BB_STRIKETHROUGH}">{LABEL_BB_STRIKETHROUGH}</a>&nbsp;
	<a href="javascript:insert('[img]http://', '[/img]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_IMAGE}">{LABEL_BB_IMAGE}</a>&nbsp;
	<a href="javascript:insert('[url=http://]', '[/url]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_URL}">{LABEL_BB_URL}</a>&nbsp;
	<a href="javascript:insert('[mail=@]', '[/mail]', 'formular', 'values[dsc]')" class="textformat_button" title="{HINT_BB_MAIL}">{LABEL_BB_MAIL}</a>
	<br />{LABEL_DSC_SHOW_UP}
    </td>
  </tr>
  <tr>
		<td class="label">{LABEL_NUM_PARTICIPANTS}:</td>
		<td class="value">
			<select size="1" name="values[participants]">
				<option {2_SELECTED}>2</option>
				<option {4_SELECTED}>4</option>
				<option {8_SELECTED}>8</option>
				<option {16_SELECTED}>16</option>
			</select>
		</td>
  </tr>
  <tr>
		<td class="label">{LABEL_APPEARANCE}:</td>
		<td class="value">
			<p>{APPEARANCE_INFO_TEXT}</p>
			<p>
			<input type="radio" id="ad" name="values[appearance]" value="0" {AD_CHECKED}><label for="ad">{LABEL_APPEARANCE_DIRECT}</label><br/>
			<input type="radio" id="ap" name="values[appearance]" value="1" {AP_CHECKED}><label for="ap">{LABEL_APPEARANCE_PROXY}</label><br/>
			<input type="radio" id="ai" name="values[appearance]" value="2" {AI_CHECKED}><label for="ai">{LABEL_APPEARANCE_INLINE}</label>
			</p>
		</td>
  </tr>
	<tr>
		<td class="label">&nbsp;</td>
		<td class="value">
			<div class="buttons" style="text-align: left;">
				<input type="submit"  value="{LABEL_CREATE}" name="unit_new[{UNIT}]" />
				{BACKLINK}
			</div>		
		</td>
	</tr>
</table>
</form>
