

.questionnaire_table th {
    background-color: #3a6e9f;
    font-weight: bolder;
    padding: 5px;
    text-align: left;
    color: white;
}
.questionnaire_table td {
    padding: 2px;
    text-align: left;
}
.questionnaire_table td.label {
    color: #003A6F;
    padding-top: 8px;
    vertical-align: top;
    width: 130px;
    text-align: left;
}
.questionnaire_style td {
	border-right: none;
	border-bottom: none;
}

.questionnaire_style {
  border-spacing: 0px;
}

.questionnaire_style table {
  border-spacing: 0px;
}

.grid td {
  background-color: transparent;
}

.grid th {
  border: none;
  background-color: #3a6e9f;
  color: white;
}

.grid td.label {
	font-weight: normal;
  text-align: left;
}

#sortable_rf {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

#sortable_rf li {
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 12px;
	height: auto;
}

html>body #sortable_rf li {
	height: auto;
	line-height: 13px;
}

.ui-state-default-rf {
	background-color: #EEEEEE;
	border-top: 1px solid white;
	border-right: 1px solid black;
	border-left: 1px solid white;
	border-bottom: 1px solid black;
}

.ui-state-default-rf:hover {
	background-color: #E3E3F3;
}

.ui-state-default-rf td {
	background-color: transparent;
	border: 0px;
  text-align: left;
}

.ui-state-placeholder-rf {
	background-color: white;
	border: none;
}

.dialog .widgets_radiobutton .widgets_label {
  width: 285px;
}

.question_headline {
  background-color: #3a6e9f;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-size: 12px;
  padding: 3px;
  margin: -5px;
}

.question_container {
  background-color: #eee !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 10px;
  padding-left: 1px;
  padding-right: 1px;
}

.question {
  border-top: 15px solid white;
}
