<h3>{VALUE_CONTAINER_DESC}</h3>
<p>{INFO}</p>

<form name="InputForm" action="" method="post" onsubmit="return checkValidity()">

<p>{EXAM_DESC}</p>

<h4>{INFO_PASSWORD}</h4>
<p>{INFO_EXAM_PASSWORD_DETAILS}</p>

<table>
<tr><td>{INFO_EXAM_PASSWORD_OLD}</td><td>{FIELD_EXAM_PASSWORD_OLD}</td></tr>
<tr><td>{INFO_EXAM_PASSWORD_NEW1}</td><td>{FIELD_EXAM_PASSWORD_NEW1}</td></tr>
<tr><td>{INFO_EXAM_PASSWORD_NEW2}</td><td>{FIELD_EXAM_PASSWORD_NEW2}</td></tr>
</table>

<div class="buttons" style="text-align: left;">{BUTTON_SAVE} {BACK_LINK}</div>

</form>

<!-- BEGIN BLOCK_PAGES -->
<div class="paginator">
    <!-- BEGIN BLOCK_PAGE -->
    {PAGE}
    <!-- END BLOCK_PAGE -->
    {RESULTS}
</div>
<!-- END BLOCK_PAGES -->
