<h3>{VALUE_CONTAINER_DESC}</h3>

<p>{INFO}</p>

<script type="text/javascript">
function setErrorBox(text)
{
	var position, box;
	var message = document.createTextNode(text);
	
	if (!document.getElementById("error"))
	{
		position = document.getElementById("headline");
		box = document.createElement("p");

		box.setAttribute('id', 'error');
		box.setAttribute('style', 'display:none');
		box.appendChild(message);
		position.appendChild(box);
		Effect.Appear('error');
	}
	else
	{
		box = document.getElementById("error");
		box.replaceChild(message, document.getElementById("error").firstChild);
	}
}

function unsetErrorBox()
{
	var box = document.getElementById("error");

	try
	{
		var deleted = document.getElementById("headline").removeChild(box);
	}
	catch (error) {}
}

function setError(element)
{
	element.className = "InputError";
}

function setNormal(element)
{
	element.className = "InputNormal";
}

function isErrorFree()
{
	var assignments = parseInt(document.InputForm.number_of_assignments.value);
	var errorFree = true;
	var field_name = "";
	
	for (var n = 1 ; n <= assignments ; n++)
	{
		if (document.getElementById(n).className == "InputError") errorFree = false;
	}

	return errorFree;
}

function checkInputOnKeyUp(element)
{
	if (element.className == "InputError") checkInput(element);
}

function checkInput(element)
{
	var input = element.value;
	if (input != parseInt(input,10) || input == 0)
	{
		setError(element);
		setErrorBox("Invalid Value");
	}
	else setNormal(element);

	if (isErrorFree()) unsetErrorBox();
}

function check()
{
 if (document.InputForm.hidden_focus.value > 0)
 {
		var last_assignment = parseInt(document.InputForm.number_of_assignments.value);
		var assignment = parseInt(document.InputForm.hidden_focus.value);

		if (assignment < last_assignment)
		{
			document.getElementById(++assignment).select();
			return false;
		}
 }

 document.InputForm.hidden_action.value = "savePoints";
 return isErrorFree();
}

function updateFocus(assignment)
{
	document.InputForm.hidden_focus.value = assignment;
}

function updatePoints()
{
	var last_assignment = parseInt(document.InputForm.number_of_assignments.value);
	var points = 0;
	var assignment;
	
	for (var i = 1 ; i <= last_assignment ; i++)
	{
		assignment = document.getElementById(i).value;
		assignment = (assignment == "") ? 0 : assignment;
		points += parseInt(assignment);
	}

	document.getElementById("total_points").innerHTML = "<b>" + points + "</b>";
}

var lastRowSet = {LAST_ROW};

function addAssignment()
{
	var assignments = parseInt(document.InputForm.number_of_assignments.value) + 1;
	document.InputForm.number_of_assignments.value = assignments;

	// add new Row
	if (assignments % 15 == 1 && assignments > 1)
	{
		var newRow1 = document.createElement("tr");
		var newCell1 = document.createElement("td");
		newRow1.setAttribute("id", lastRowSet + ":3");
		newRow1.setAttribute("height", "10");
		newCell1.setAttribute("colspan", "21");

		lastRowSet++;
		
		var newRow2 = document.createElement("tr");
		var newCell2 = document.createElement("td");
		var newText2 = document.createTextNode("Assignment");
		newRow2.setAttribute("id", lastRowSet + ":1");

		var newRow3 = document.createElement("tr");
		var newCell3 = document.createElement("td");
		var newText3 = document.createTextNode("Points");
		newRow3.setAttribute("id", lastRowSet + ":2");

		var table = document.getElementById("AssignmentTable");
		newRow1.appendChild(newCell1);
		table.appendChild(newRow1);

		newCell2.appendChild(newText2);
		newRow2.appendChild(newCell2);
		table.appendChild(newRow2);

		newCell3.appendChild(newText3);
		newRow3.appendChild(newCell3);
		table.appendChild(newRow3);
	}
	
	var row1 = document.getElementById(lastRowSet + ":1");
	var row2 = document.getElementById(lastRowSet + ":2");

	var TD1 = document.createElement("td");
	var b = document.createElement("b");
	var TD1text = document.createTextNode(assignments);

	var TD2 = document.createElement("td");
	var input = document.createElement("input");

	input.setAttribute("class", "InputNormal");
	input.setAttribute("onfocus", "updateFocus(" + assignments + ");");
	input.setAttribute("onkeyup", "updatePoints(); checkInputOnKeyUp(this);");
	input.setAttribute("onblur", "checkInput(this);");
	input.setAttribute("name", "field_assignment_max_points_" + assignments);
	input.setAttribute("id", assignments);
	input.setAttribute("style", "width: 30px;");
	input.setAttribute("type", "text");
	input.setAttribute("value", "10");

	b.appendChild(TD1text);
	TD1.appendChild(b);
	TD2.appendChild(input);

	TD1.setAttribute("align", "center");
	TD2.setAttribute("align", "center");
	
	row1.appendChild(TD1);
	row2.appendChild(TD2);

	updatePoints();
}

function removeAssignment()
{	
	var assignments = parseInt(document.InputForm.number_of_assignments.value);
	var row1 = document.getElementById(lastRowSet + ":1");
	var row2 = document.getElementById(lastRowSet + ":2");
	var table = document.getElementById("AssignmentTable");

	if (lastRowSet == 1 && row1.cells.length == 2) return;
	
	if (row1.cells.length > 1)
	{
		row1.deleteCell(row1.cells.length - 1);
		row2.deleteCell(row2.cells.length - 1);
		document.InputForm.number_of_assignments.value = assignments - 1;
		updatePoints();
	}

	if (row1.cells.length == 1 && table.rows.length > 1)
	{
		table.deleteRow(table.rows.length - 1);
		table.deleteRow(table.rows.length - 1);
		table.deleteRow(table.rows.length - 1);
		lastRowSet--;
	}
}
</script>

<form name="InputForm" action="" method="post" onSubmit="return check();">

<p>{EXAM_DESC}</p>
<p>{EXAM_DATE_AND_TIME}</p>

<p>{INFO_EXAM_NUMBER}</p>

<p>{INFO_ASSIGNMENTS_NUMBER} {BUTTON_ADD} {BUTTON_REMOVE}</p>

<p>{INFO_ASSIGNMENTS_MAXPOINTS}</p>
<!-- BEGIN BLOCK_ASSIGNMENTS -->
<!-- <p>{ASSIGNMENT_NUMBER} {ASSIGNMENT_POINTS}</p>-->
<p>{ASSIGNMENT_TABLE}</p>
<!-- END BLOCK_ASSIGNMENTS -->
<p>{TOTAL_POINTS}</p>
<br />
<div class="buttons" style="text-align: left;">{BUTTON_SAVE} {BACK_LINK}</div>

{HIDDEN_FOCUS}
{HIDDEN_ACTION}
{NUMBER_OF_ASSIGNMENTS}

</form>

<!-- BEGIN BLOCK_PAGES -->
<div class="paginator">
    <!-- BEGIN BLOCK_PAGE -->
    {PAGE}
    <!-- END BLOCK_PAGE -->
    {RESULTS}
</div>
<!-- END BLOCK_PAGES -->
