<h3>{VALUE_CONTAINER_DESC}</h3>
<p>{INFO}</p>

<form name="InputForm" action="" method="post" onsubmit="return checkValidity()">

<p>{EXAM_DESC}</p>
<p>{EXAM_DATE_AND_TIME}</p>

<p>{INFO_EXAM_NUMBER}</p>

<h4>{INFO_EXAM_FREETEXT}</h4>
<p>{INFO_EXAM_FREETEXT_DETAILS}</p>
<p>{FIELD_EXAM_FREETEXT}</p>

<br />
<div class="buttons" style="text-align: left;">{BUTTON_SAVE} {BACK_LINK}</div>

</form>

<!-- BEGIN BLOCK_PAGES -->
<div class="paginator">
    <!-- BEGIN BLOCK_PAGE -->
    {PAGE}
    <!-- END BLOCK_PAGE -->
    {RESULTS}
</div>
<!-- END BLOCK_PAGES -->
