<h3>{VALUE_CONTAINER_DESC}</h3>
<p>{INFO}</p>

<form name="InputForm" action="" method="post" onsubmit="return checkValidity()">

<p>{EXAM_DESC}</p>


<h4>{INFO_EXAM_MAIL} ({INFO_EXAM_NUMBER})</h4>
<p>{INFO_EXAM_MAIL_SUBJECT}</p>
<p>{FIELD_EXAM_MAIL_SUBJECT}</p>
<p>{INFO_EXAM_MAIL_BODY}</p>
<p>{FIELD_EXAM_MAIL_BODY}</p>
<p>{INFO_EXAM_MAIL_RECIPIENTS}</p>


<br />
<div class="buttons" style="text-align: left;">{BUTTON_SAVE} {BACK_LINK}</div>

</form>

<!-- BEGIN BLOCK_PAGES -->
<div class="paginator">
    <!-- BEGIN BLOCK_PAGE -->
    {PAGE}
    <!-- END BLOCK_PAGE -->
    {RESULTS}
</div>
<!-- END BLOCK_PAGES -->
