<style type="text/css">
input.greyInputField { border-right: 1px; border-right-style:solid; border-right-color:#EEEEEE;
						border-left: 1px; border-left-style:solid; border-left-color:#EEEEEE;
						 border-bottom: 1px; border-bottom-style:solid; border-bottom-color:#EEEEEE;
						  border-top: 1px; border-top-style:solid; border-top-color:#EEEEEE;
						   background-color:#EEEEEE;}
input.whiteInputField { border-right: 1px;border-right-style:solid;border-right-color:#ff0000;
						 border-left: 1px;border-left-style:solid;border-left-color:#ff0000;
						  border-bottom: 1px;border-bottom-style:solid;border-bottom-color:#ff0000;
						   border-top: 1px;border-top-style:solid;border-top-color:#ff0000;
						    background-color:#FFFFFF;}
</style>


<script type="text/javascript">
var eoPath = document.URL.slice(0,19 + document.URL.search("/exam_organization/"));

function getFullName(element){
	number = element.value
	if (number.length==7) {
		//correct length
		ajaxRequest("1","getFullName",number);
	} else {
		nameField = document.getElementById("fullname");
		nameField.innerHTML = "";
	}
}

function ajaxRequest(term,method,value){
	apath = eoPath+"directaccess/?case="+ method +"&value="+ value +"&examterm="+term;
	new Ajax.Request(apath,
			  {
			    method:'get',
			    onFailure: function(){ alert('Error while saving status') },
			    onSuccess: function(response){
				    var name = response.responseText;
					if(name==0){
							name="";
						} else {
							nameField = document.getElementById("fullname");
							nameField.innerHTML = "( "+name+" )";
						}
					}
			  });
}

function ajaxTableChange(term,username,datatype,targetvalue){
	value = username+":"+datatype+":"+targetvalue;
	apath = eoPath+"directaccess/?case=tablechange&value="+ value +"&examterm="+term;
	new Ajax.Request(apath,
			  {
			    method:'get',
			    onFailure: function(){ alert('Error while saving status') },
			    onSuccess: function(response){}
			  });
}

function ajaxDeleteRowData(term,username){
	if(confirm("Please confirm delete")){
		value = username;
		apath = eoPath+"directaccess/?case=deleteParticipantFromTerm&value="+ value +"&examterm="+term;
		new Ajax.Request(apath,
				  {
				    method:'get',
				    onFailure: function(){ alert('Error while saving status'); },
				    onSuccess: function(response){pageReload();}
				  });
	}
}


function editField(element){
	var datatype = element.getAttribute("eodatatype");
	var oldValue = element.getAttribute("value");
	var login = element.getAttribute("login");
	var examterm = element.getAttribute("examterm");
	var newValue = element.value;
	saveChangedField(examterm,login,datatype,newValue);
	element.setAttribute('class','greyInputField');
}

function editBonusField(element){
	var datatype = element.getAttribute("eodatatype");
	var oldValue = element.getAttribute("value");
	var login = element.getAttribute("login");
	var examterm = element.getAttribute("examterm");
	var newValue = element.value;
	
	saveChangedField(examterm,login,datatype,newValue);

	var resultWithOutBonusField = element.parentNode.parentNode.cells[7];
	var resultWithBonusField = element.parentNode.parentNode.cells[8];

	//collect values
	var oldBonus = parseFloat(oldValue.replace(",","."));
	var newBonus = parseFloat(newValue.replace(",","."));
	var resultWithOutBonus = parseFloat(resultWithOutBonusField.innerHTML.replace(",","."));
	var resultWithBonus = parseFloat(resultWithBonusField.innerHTML.replace(",","."));

	
	if( (!(isNaN(resultWithOutBonus))) && (!(resultWithOutBonus==5.0)) ){
		var newCalcRes = resultWithOutBonus - newBonus;
		newCalcRes = newCalcRes.toPrecision(2); 

		if(newCalcRes==0.9||newCalcRes==1.2||newCalcRes==1.6||newCalcRes==1.9||newCalcRes==2.2||newCalcRes==2.6||newCalcRes==2.9||newCalcRes==3.2||newCalcRes==3.6||newCalcRes==3.9){
			newCalcRes = parseFloat(newCalcRes) + parseFloat(0.1);
		}

		if(newCalcRes==1.1||newCalcRes==1.4||newCalcRes==1.8||newCalcRes==2.1||newCalcRes==2.4||newCalcRes==2.8||newCalcRes==3.1||newCalcRes==3.4||newCalcRes==3.8||newCalcRes==4.1){
			newCalcRes = parseFloat(newCalcRes) - parseFloat(0.1);
		}

		if(newCalcRes<1.0){
			newCalcRes = 1.0;
		}

		newCalcRes = (parseFloat(newCalcRes)).toPrecision(2); 
		resultWithBonusField.innerHTML = newCalcRes.replace(".",",");
	}
	

}

function enterField(element){
	element.setAttribute('class','whiteInputField');
}

function setPoints(element){
	var examnumber = element.parentNode.getAttribute("examterm");
	var mnr = element.parentNode.getAttribute("mnr");
	window.location.href = eoPath+"exam"+examnumber+"/enterpoints?mnr="+mnr;
}

function saveChangedField(examterm, username, datatype, value){
	ajaxTableChange(examterm,username,datatype,value);
}

function deleteRow(element){
	var login = element.getAttribute("login");
	var examterm = element.getAttribute("examterm");
	ajaxDeleteRowData(examterm,login);
}

function pageReload(){
	window.location.href = window.location.href;
}

function replaceEnter(element){
	if(window.event.keyCode == 13){
	    //alert("Entertaste gedrŸckt");
	    event.keyCode=9;
	    return false;
	    } 
}

function replaceEnterOnForm(element){
	if(window.event.keyCode == 13){
	    alert("Entertaste in Form gedrŸckt");
	    //event.keyCode=9;
	    return false;
	    } 
}


</script>

<h3>{VALUE_CONTAINER_DESC} ({EXAM_INFORMATION})</h3>
<!-- <p>{VALUE_CONTAINER_LONG_DESC}</p> -->
<!-- <p>{ROLE_STATUS}</p> -->

<p>{INFO}</p>
<p>{INFO_SEATING}</p>

<form onsubmit="replaceEnterOnForm(this);" action="" method="post" enctype="multipart/form-data">
<!-- BEGIN BLOCK_TABLE_PARTICIPANTS -->
<h4>{INFO_TABLE_PARTICIPANTS_IN_DB}</h4>
<p>{TABLE_PARTICIPANTS_IN_DB}</p>
<!-- END BLOCK_TABLE_PARTICIPANTS -->
	
<!-- BEGIN BLOCK_MATRICULATION_NUMBERS_TABLE -->
<h4>{INFO_MATRICULATION_NUMBERS_TABLE}</h4>
<p>{MATRICULATION_NUMBERS_TABLE}</p>
<p>{BUTTON_SAVE_LIST}{BUTTON_SAVE_LIST_REPLACE}</p>
<!-- END BLOCK_MATRICULATION_NUMBERS_TABLE -->
	
<!-- BEGIN BLOCK_IMPORT_FUNCTIONS -->

<p>{INFO_ADD_PARTICIPANT} : {FIELD_ADD_PARTICIPANT} <span id='fullname'> </span> {BUTTON_SAVE_ONE}</p>

<p>{INFO_IMPORT_LIST} : {FIELD_IMPORT_LIST} {BUTTON_LOAD_FILE}</p>
<!-- END BLOCK_IMPORT_FUNCTIONS -->

<br />
<div class="buttons" style="text-align: left;">{BACK_LINK}</div>
</form>

<!-- BEGIN BLOCK_PAGES -->
<div class="paginator">
    <!-- BEGIN BLOCK_PAGE -->
    {PAGE}
    <!-- END BLOCK_PAGE -->
    {RESULTS}
</div>
<!-- END BLOCK_PAGES -->