<!-- BEGIN BLOCK_CONTEXT_MENU -->

<div class="actionBar">
    <!-- BEGIN BLOCK_MENU_ENTRY -->
	{LINK_MENU_ENTRY}
	<!-- END BLOCK_MENU_ENTRY -->
</div>
<!-- END BLOCK_CONTEXT_MENU -->

<h3>{VALUE_DESC}</h3>

<div id="launch-VCC-Container">
Whoa. You need to install <a href="http://www.adobe.com/go/flashplayer">Adobe Flash Player</a>.
</div>

<!-- BEGIN BLOCK_VILM_PROJECTS -->
<table class="grid" width="100%" cellspacing="1" cellpadding="5">
	<tr>
		<th>{LABEL_NAME}</th>
		<th>{LABEL_OWNER}</th>
		<th>{LABEL_STATUS}</th>
		<th>{LABEL_SCENARIO}</th>
		<th>{LABEL_DATE}</th>
	</tr>
    <!-- BEGIN BLOCK_ITEM -->
	<tr>
		<td>{ITEM_NAME}</td>
		<td>{ITEM_OWNER}</td>
		<td>{ITEM_STATUS}</td>
		<td>{ITEM_SCENARIO}</td>
		<td>{ITEM_LAST_CHANGE}</td>
	</tr>
    <!-- END BLOCK_ITEM -->
</table>
<!-- END BLOCK_VILM_PROJECTS -->

<p>{NO_RESULTS}</p>