<h3>{VALUE_DESC}</h3>
<p>{VALUE_LONG_DESC}</p>
<p>
<!-- setup player normally -->
<a class="player" id="fms">
	<img src="http://static.flowplayer.org/img/player/btn/showme.png"  />
</a>

<style type="text/css">
a.player {	
	display:block;
	width:500px;
	height:340px;
	background:#000 url(/img/global/gradient/h500.png) repeat-x 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
	cursor:pointer;
	background:-moz-linear-gradient(top, rgba(55, 102, 152, 0.9), rgba(6, 6, 6, 0.9));
	-moz-box-shadow:0 0 40px rgba(100, 118, 173, 0.5);
}
</style>

<script type="text/javascript">
$f("fms", "/koala-2_1/styles/koala-lernszenarien/assets/flowplayer/flowplayer-3.2.2.swf", {

	clip: {
		url: 'Extremists.flv',
		// configure clip to use influxis as our provider, it uses our rtmp plugin
		provider: 'influxis'
	},

	// streaming plugins are configured under the plugins node
	plugins: {

		// here is our rtpm plugin configuration
		influxis: {
			url: 'flowplayer.rtmp-3.2.1.swf',

			// netConnectionUrl defines where the streams are found
			netConnectionUrl: 'rtmp://test15.uni-paderborn.de:8086/protectedstreaming'
		}
	}
});
</script>




<!-- BEGIN BLOCK_LINK -->
 <a {VALUE_LINK_TARGET} href="{VALUE_LINK_URL}">{VALUE_LINK_TEXT}</a>
<!-- END BLOCK_LINK -->

<!-- BEGIN BLOCK_IFRAME -->
 <iframe width="100%" height="500px" src="{VALUE_IFRAME_URL}"/>
<!-- END BLOCK_IFRAME -->

</p>