.portlet.poll .entry .result {
}

.portlet.poll .entry .result .text {
}

.portlet.poll .entry .result .count {
  	float: right;
}

.portlet.poll .entry .result .bar {
	height: 16px;
	padding-right: 4px;
}

.portlet.poll .message {
  	clear: both;
  	font-size: 12px;
  	line-height: 1.4em;
  	padding: 4px;
}

.portlet.poll {
  border: 1px solid #CDCDCD;
  word-wrap: break-word;
}

.portlet.poll .hidden {
  display: none;
}
