<div class="portal" style="width:{PORTAL_WIDTH};">
<!-- BEGIN portal_column -->
<div class="portal_column" style="width:{PORTAL_COLUMN_WIDTH};">
<!-- BEGIN portlet_cell -->
{PORTLET}
<!-- BEGIN edit_area -->
<span class="editColumnButton">
	<a
		href="{DOC_ROOT}/modules/portal2/edit_column.php?column={PORTAL_COLUMN_ID}",
		onclick="window.open('{DOC_ROOT}/modules/portal2/edit_column.php?column={PORTAL_COLUMN_ID}',
		'edit_column', 'resizable,scrollbars,width=640,height=480');
		return false;">
		<img src="{DOC_ROOT}/modules/portal2/icons/edit_column.gif" width="16"
		height="16" title="{LANGUAGE_COLUMN_ACTION_EDIT}">
	</a>
</span>
<!-- END edit_area -->
<!-- END portlet_cell -->
</div>
<!-- END portal_column -->
</div>
