<!-- BEGIN BLOCK_CLIPBOARD -->
<div>
<div id="clipboard" class="clipboard">{CLIPBOARD_HTML}</div>
</div>
<!-- END BLOCK_CLIPBOARD -->
<div><h3>{LABEL_UNITS}</h3></div>
<div style="clear:both;"></div>

<!-- BEGIN BLOCK_PAGES -->
<div class="paginator">
    <!-- BEGIN BLOCK_PAGE -->
    {PAGE}
    <!-- END BLOCK_PAGE -->
    {RESULTS}
</div>
<!-- END BLOCK_PAGES -->

<!-- BEGIN BLOCK_UNIT_LIST -->
<form action="" method="post">
<table class="grid" width="100%" cellspacing="1" cellpadding="5">
<tr>
	<th width="150">{LABEL_TYPE}</th>
	<th width="500">{LABEL_NAME_DESCRIPTION}</th>
	<th>{LABEL_ACTIONS}</th>
</tr>
</table>
<ul id="boxes" style="list-style: none; margin: 0; padding: 0;">
<!-- BEGIN BLOCK_UNIT -->
<li id="{BOXES}">
	<table class="grid" width="100%" cellspacing="1" cellpadding="5">
	<tr>
		<td style="text-align:center" width="150">
			<img src="{UNIT_ICON}" height="64" align="middle" title="{UNIT_TYPE}" />
			<div><small>{UNIT_TYPE}</small></div>
		</td>
		<td>
			<div style="margin-left: 10px;"><a href="{UNIT_LINK}"><strong>{UNIT_NAME}</strong></a></div>
			<!-- BEGIN BLOCK_DESCRIPTION -->
			<div style="margin-left: 10px;"><small>{UNIT_DESC}</small></div>
			<!-- END BLOCK_DESCRIPTION -->
			<br/>
			<div style="margin-left: 10px;"><small>{INVENTORY_SIZE}</small></div>
		</td>
		<!-- BEGIN BLOCK_UNIT_ACTIONS -->
		<td width="100">
      <!-- BEGIN BLOCK_UNIT_ACTION -->
			<a href="{ACTION_LINK}"><img src="{ACTION_ICONPATH}" title="{ACTION_LABEL}" alt="{ACTION_LABEL}" /></a>
      <!-- END BLOCK_UNIT_ACTION -->
    </td>
		<!-- END BLOCK_UNIT_ACTIONS -->
	</tr>
	</table>
</li>
<!-- END BLOCK_UNIT -->
</ul>
</form>

<!-- BEGIN BLOCK_STAFF -->
<!-- BEGIN BLOCK_DRAG_DROP -->
<span id="CONTAINER_ID" value="{CONTAINER_ID}"></span>
<script type="text/javascript">
//------------------------------------------
//   /javascript/frontend/list_inventory.js
//------------------------------------------

// find out course id
container_id = $('CONTAINER_ID').getAttribute('value');

the_boxes = $('boxes');
for ( i=containerStart; i<containerEnd; i++ )
	the_boxes.appendChild( $('boxes_' + i) );

// make boxes sortable
Sortable.create("boxes",
	{
		onUpdate: function() // save box order to sTeam
		{
			newOrder = Sortable.sequence('boxes');
			inventoryOrder = Array( newOrder.length );
			for ( i=0; i<newOrder.length; i++ ) {
				inventoryOrder[ i ] = "order[]=" + itemIds[ newOrder[i] - containerStart ];
}
			order = inventoryOrder.join("&");
			// send request:
			new Ajax.Request(
				BackendConnector.getURL("sort_inventory", container_id),
				{
					asynchronous: true,
					evalScripts: true,
					method: "post",
					parameters: order,
					onSuccess: function(transport) {
						eval(transport.responseText);
					}
				}
			);
		}
	}
);
</script>
<!-- END BLOCK_DRAG_DROP -->
<div class="infoBar">
{INFO_TEXT}
</div>
<!-- END BLOCK_STAFF -->
