<h3>{HEADING}</h3>
<p>{TEXT}</p><br>
<form action="" method="post" name="unit_new">
<input type="hidden" name="owner" value="{OWNER}" />
  <table class="grid" width="100%" cellspacing="1" cellpadding="5">
    <tr>
      <th>{NAME_DESC}</th>
      <th>{ACTION}</th>
    </tr>
    <!-- BEGIN BLOCK_NEW_UNIT -->
    <tr>
      <td>
        <big>{UNIT_NAME}</big>
        <p>
        <div align="left"><img src="{UNIT_ICON}" height="64" align="left" /></div><div>{UNIT_DESCRIPTION}</div>
        
        </p>
      </td>
      <td>
      	<div class="buttons" style="text-align: left;">
        	<input type="submit" value="{UNIT_CHOOSE}" name="unit_new[{UNIT}]"/>	
      	</div>
      </td>
    </tr>
    <!-- END BLOCK_NEW_UNIT -->
  </table>
  <p></p>
  <div class="buttons" style="text-align: left;">{BACKLINK}</div>
</form>