<!-- BEGIN BLOCK_CHECKBOX -->
<script type="text/javascript">
	var imgbox_s_e = "{IMAGE_CHECKBOX_SELECTED_ENABLED}";
	var imgbox_s_d = "{IMAGE_CHECKBOX_SELECTED_DISABLED}";
	var imgbox_u_e = "{IMAGE_CHECKBOX_UNSELECTED_ENABLED}";
	var imgbox_u_d = "{IMAGE_CHECKBOX_UNSELECTED_DISABLED}";
	var imgbox_loader = "{IMAGE_CHECKBOX_LOADER}";

	function toggleCheckbox(qid,aid) {
		if (document.getElementById("questionId" + qid + "-" + aid).value == 0) {
			enableCheckbox(qid, aid);
		} else {
			disableCheckbox(qid, aid);
		}
	}

	function showLoader(qid,aid) {
		document.getElementById("questionCheckbox" + qid + "-" + aid).style.display = "none";
		document.getElementById("questionCheckboxLoader" + qid + "-" + aid).style.display = "inline";
	}

	function hideLoader(qid,aid) {
		document.getElementById("questionCheckbox" + qid + "-" + aid).style.display = "inline";
		document.getElementById("questionCheckboxLoader" + qid + "-" + aid).style.display = "none";
	}

	function enableCheckbox(qid, aid) {
		document.getElementById("questionId" + qid + "-" + aid).value = 1;
		document.getElementById("questionCheckbox" + qid + "-" + aid).src = imgbox_s_e;
	}

	function disableCheckbox(qid, aid) {
		document.getElementById("questionId" + qid + "-" + aid).value = 0;
		document.getElementById("questionCheckbox" + qid + "-" + aid).src = imgbox_u_e;
	}
</script>
<!-- END BLOCK_CHECKBOX -->


<!-- BEGIN BLOCK_QUESTION_JAVASCRIPT -->
<script type="text/javascript">
	function checkAnswer(cid, qid, aid) {

		//showing overlay background for answer
		document.getElementById("overlay").style.display="block";
		document.getElementById("overlay").style.height="100%";
		document.getElementById("overlay").style.width="100%";
		document.getElementById("overlay").style.position="absolute";
		document.getElementById("overlay").style.top="0";
		document.getElementById("overlay").style.left="0";
		document.getElementById("overlay").style.backgroundColor="white";
		document.getElementById("overlay").style.opacity="0.75";
		document.getElementById("overlay").style.filter = "alpha(opacity=75)";
		
		apath = "{PATHPREFIX}directaccess";

		toggleCheckbox(qid, aid);
		showLoader(qid, aid);
		
		new Ajax.Request(apath, {
		    method: "post",
		    parameters: "case=tellanswer&cid=" + cid + "&qid=" + qid + "&aid=" + aid,
		    onFailure: function(){ alert("Error while telling answer."); },
		    onSuccess: function(response){ tellanswer(response); }});
	}
	
	function tellanswer(response) {
		var values = response.responseText.split("@@");
		if (values[2] == 0) {  //falsch
			document.getElementById("message").style.display="block";
       		document.getElementById("messagetext").innerHTML=("<div style='float:left;margin:0 10px 0 0;width:48px;height:100px'><img src='/styles/{STYLE}/images/falsch.png' /></div>" + values[3]);
       		disableCheckbox(values[0], values[1]);
		} else {
			document.getElementById("message").style.display="block";
       		document.getElementById("messagetext").innerHTML=("<div style='float:left;margin:0 10px 0 0;width:48px;height:100px'><img src='/styles/{STYLE}/images/richtig.png' /></div>" +values[3]);
       		enableCheckbox(values[0], values[1]);
		}
		hideLoader(values[0], values[1]);
	}
	
	function closeMessageWindow() {
		document.getElementById("message").style.display="none";
       	document.getElementById("messagetext").innerHTML=("");
       	document.getElementById("overlay").style.display="none";
	}
</script>
<!-- END BLOCK_QUESTION_JAVASCRIPT -->

<!-- BEGIN BLOCK_EXAM_QUESTION_JAVASCRIPT -->
<script type="text/javascript">
	function checkAnswer(cid, qid, aid) {
		toggleCheckbox(qid, aid);
		showLoader(qid, aid);
		apath = "{PATHPREFIX}directaccess";
		new Ajax.Request(apath, {
		    method: "post",
		    parameters: "case=storeanswer&cid=" + cid + "&qid=" + qid + "&aid=" + aid + "&eid={EID}&value=" + document.getElementById("questionId" + qid + "-" + aid).value,
		    onFailure: function(){ alert("Error while storing answer."); },
		    onSuccess: function(response){ hideLoader(qid, aid); if (response.responseText == 1) {enableCheckbox(qid, aid);} else {disableCheckbox(qid, aid);} }});
	}
</script>
<!-- END BLOCK_EXAM_QUESTION_JAVASCRIPT -->