<!-- BEGIN BLOCK_ADMIN_HEADER -->
<h3 style="margin-bottom:0px;">{LABEL_ADMINS}</h3>
<!-- END BLOCK_ADMIN_HEADER -->
<!-- BEGIN BLOCK_ADMIN -->
{LABEL_UNMODERATED}
<table style="line-height:100%; text-align:left;width:0%">
	<tr>
		<!-- BEGIN PROFILE_ANKER -->
		<td style="width:0%;white-space: nowrap;"><a href="{ADMIN_LINK}"><img src="{ADMIN_ICON}" width="30" height="35"></a></td>
		<td style="width:0%;white-space: nowrap;"><a href="{ADMIN_LINK}"><b>{ADMIN_NAME}</b></a><br/><small>{ADMIN_DESC}</small></td>
		<!-- END PROFILE_ANKER -->
		<!-- BEGIN PROFILE_NO_ANKER -->
		<td style="width:0%;white-space: nowrap;"><img src="{ADMIN_ICON}" width="30" height="35"></td>
		<td style="width:0%;white-space: nowrap;"><b>{ADMIN_NAME}</b><br/><small>{ADMIN_DESC}</small></td>
		<!-- END PROFILE_NO_ANKER -->
	</tr>
</table>
<!-- END BLOCK_ADMIN -->