.tcr_table {
    border-collapse: collapse;
}
.tcr_table th {
    background-color: white;
    font-weight: bolder;
    padding: 5px;
    text-align: left;
}
.tcr_table td {
    background-color: #EEEEEE;
    padding: 5px;
}
.tcr_table td.label {
    color: #003A6F;
    font-weight: bold;
    padding-top: 8px;
    vertical-align: top;
    width: 130px;
}