#content_wrapper{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.underconstruction {
		background: url({PATH_URL}404/asset/images/dev.png) repeat-x top;
		margin: 0px;
		padding: 0px;
		width: 100%;
		height: 60px;
}

#container {
    width: 626px;
    height: 256px;
    margin: -128px 0 0 -348px;
    padding: 0 0 0 78px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#container .leds {
    width: 78px;
    height: 68px;
    overflow: hidden;
    position: absolute;
    top: 44px;
    left: 0;
}
    
#container .leds .led {
    width: 39px;
    height: 68px;
    background: url('{PATH_URL}404/asset/images/status_led_sprite.png') no-repeat;
}
        
#container .leds .led.green {
    background-position: bottom left;
    float: left;
}
            
#container .leds .led.green.active { background-position: top left; }
            
#container .leds .led.red {
    background-position: top right;
    float: right;
}

#container .leds .led.red.active { background-position: bottom right; }
                
#container .flip {
    width: 622px;
    height: 152px;
    color: #dadada;
    font-size: 54px;
    font-weight: bold;
    text-align: center;
    line-height: 145px;
    letter-spacing: -2px;
    background: url('{PATH_URL}404/asset/images/status_flip_container.png') no-repeat;
    position: relative;
}
    
#container .flip .break {
    width: 584px;
    height: 2px;
    background: #181818;
    border-bottom: 1px solid #343434;
    position: absolute;
    top: 50%;
    left: 19px;
}
        
#container .flip .break .link {
    width: 5px;
    height: 12px;
    background: url('{PATH_URL}404/asset/images/status_flip_link.png') no-repeat;
    position: absolute;
    top: -3px;
}
            
#container .flip .break .link.left {
    left: 10px;
}

#container .flip .break .link.right {
    right: 10px;
}
                
#container .sorry {
    width: 550px;
    color: #666;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 0 35px;
    background-color: white;
    padding: 10px;
}
        
#container .sorry *:first-child {
    margin: 0;
}

#container .sorry p a, #container .sorry p a:visited{
        color: #666;
        text-decoration: none;
}
			
#container .sorry p a:hover {
        color: #666;
        text-decoration: none;
        border-bottom: 1px solid #666;
}