<form action="{FORM_ACTION}" method="post" enctype="multipart/form-data">
<input type="hidden" name="values[backlink]" value="{BACK_LINK}"/>
<br><br>
<table class="grid" width="100%" cellpadding="5" cellspacing="0">
	<tr>
		<td class="label">{LABEL_FILE}:</td>
		<td class="value">
			<a href="{LABEL_FILE_INFO}">{LABEL_NAME} </a>
			<a href="{LINK_DOWNLOAD}"><img src="{ICONPATH_DOWNLOAD}" title="{LABEL_DOWNLOAD}" alt="{LABEL_DOWNLOAD}" /></a>
		</td>
	</tr>
	<tr>
		<td class="label">{LABEL_FEEDBACK}:</td>
		<td class="value">{LABEL_REAL_FEEDBACK}</td>
	</tr>
	<tr>
		<td class="label">{LABEL_POINTS}:</td>
		<td class="value">{LABEL_HOMEWORK_POINTS}</td>
	</tr>
	<tr>
		<td class="label">&nbsp;</td>
		<td class="value">
			<div class="buttons" style="text-align: left;">
				{BUTTON_GIVE_FEEDBACK} {BACKLINK}
			</div>		
		</td>
	</tr>
</table>
</form>