<form action="{FORM_ACTION}" method="post" enctype="multipart/form-data">

<!-- BEGIN BLOCK_CLIPBOARD -->
<div>
<div id="clipboard" class="clipboard">{CLIPBOARD_HTML}</div>
</div>
<!-- END BLOCK_CLIPBOARD -->
<div class="path"><h2>{CONTAINER_PATH}</h2></div>
<div style="clear:both;"></div>

<h3>{VALUE_CONTAINER_DESC}</h3>
<p>{VALUE_CONTAINER_LONG_DESC}</p>

<!-- BEGIN BLOCK_PAGES -->
<div class="paginator">
    <!-- BEGIN BLOCK_PAGE -->
    {PAGE}
    <!-- END BLOCK_PAGE -->
    {RESULTS}
</div>
<!-- END BLOCK_PAGES -->
<!-- BEGIN BLOCK_EMPTY_INVENTORY -->
{LABEL_NO_DOCUMENTS_FOUND}
<ul id="boxes" style="list-style: none; margin: 0; padding: 0;"></ul>
<!-- END BLOCK_EMPTY_INVENTORY -->
<!-- BEGIN BLOCK_INVENTORY -->
<table class="grid" width="100%" cellspacing="1" cellpadding="5">
	<tr>
		<th width="300">{LABEL_HOMEWORK}</th>
		<th width="80" align="right">{LABEL_ENDDATE}</th>
		<th width="140">{LABEL_WORKINGPEOPLE}</th>
		<th width="120">{LABEL_POINTS}</th>
		<th>{LABEL_ACTIONS}</th>
	</tr>
</table>
<ul id="boxes" style="list-style: none; margin: 0; padding: 0;">
<!-- BEGIN BLOCK_ITEM -->
<li id="{BOXES}">
	<table class="grid" width="100%" cellspacing="1" cellpadding="5">
	<tr>
		<td width="300">
			<div><a href="{LINK_ITEM}">{ICON_ITEM}</a></div><div {ITEM_STYLE}><a href="{LINK_ITEM}"><strong>{NAME_ITEM}</strong></a></div>
			<!-- BEGIN BLOCK_HOMEWORK -->
			<div><small>{OBJ_DESC}</small></div>
			<br>
			<input type="file" name="material"/>
			<!-- END BLOCKHOMEWORK -->
		</td>
		<td width="80" align="right">{SIZE_ITEM}</td>
		<td width="140" align="center">
			{MODIFIED_ITEM}
			<input type="text" name="values[people]" width="140">
		</td>
		<td width="120" align="center">
			<a href="{HOMEWORK_COMMENTS}">{VALUE_COMMENTS}</a><br/>{VALUE_VIEWS}
		</td>
		<td>
			<!-- BEGIN BLOCK_COPY -->
			<a href="{LINK_TAKE_COPY}"><img src="{ICONPATH_TAKE_COPY}" title="{LABEL_TAKE_COPY}" alt="{LABEL_TAKE_COPY}" /></a>
			<!-- END BLOCK_COPY -->
			<!-- BEGIN BLOCK_TAKE -->
			<a href="{LINK_TAKE_OBJECT}"><img src="{ICONPATH_TAKE_OBJECT}" title="{LABEL_TAKE_OBJECT}" alt="{LABEL_TAKE_OBJECT}" /></a>
			<!-- END BLOCK_TAKE -->
			<!-- BEGIN BLOCK_DOWNLOAD -->
			<a href="{LINK_DOWNLOAD}"><img src="{ICONPATH_DOWNLOAD}" title="{LABEL_DOWNLOAD}" alt="{LABEL_DOWNLOAD}" /></a>
			<!-- END BLOCK_DOWNLOAD -->
			<input type="submit" value="{LABEL_UPLOAD}">
<!--
			<div><a href="{LINK_TAKE_COPY}"><img src="{ICONPATH_TAKE_COPY}" /><b>{LABEL_TAKE_COPY}</b></a></div>{BR_CAN_TAKE}
			<div><a href="{LINK_TAKE_OBJECT}"><img src="{ICONPATH_TAKE_OBJECT}" /><b>{LABEL_TAKE_OBJECT}</b></a></div>
			<div><a href="{LINK_DOWNLOAD}"><img src="{ICONPATH_DOWNLOAD}" /><b>{LABEL_DOWNLOAD}</b></a></div>{BR_CAN_LINK}
-->
		</td>
	</tr>
	<!-- BEGIN BLOCK_WRITE_ACCESS -->
	<!-- END BLOCK_WRITE_ACCESS -->
	</table>
</li>
<!-- END BLOCK_ITEM -->
</ul>
<!-- END BLOCK_INVENTORY -->

<!-- BEGIN BLOCK_STAFF -->
<!-- BEGIN BLOCK_DRAG_DROP -->
<span id="CONTAINER_ID" value="{CONTAINER_ID}"></span>
<script type="text/javascript">
//------------------------------------------
//   /javascript/frontend/list_inventory.js
//------------------------------------------

// find out course id
container_id = $('CONTAINER_ID').getAttribute('value');

the_boxes = $('boxes');
for ( i=containerStart; i<containerEnd; i++ )
	the_boxes.appendChild( $('boxes_' + i) );

// make boxes sortable
Sortable.create("boxes",
	{
		onUpdate: function() // save box order to sTeam
		{
			newOrder = Sortable.sequence('boxes');
			inventoryOrder = Array( newOrder.length );
			for ( i=0; i<newOrder.length; i++ ) {
				inventoryOrder[ i ] = "order[]=" + itemIds[ newOrder[i] - containerStart ];
}
			order = inventoryOrder.join("&");
			// send request:
			new Ajax.Request(
				BackendConnector.getURL("sort_inventory", container_id),
				{
					asynchronous: true,
					evalScripts: true,
					method: "post",
					parameters: order,
					onSuccess: function(transport) {
						eval(transport.responseText);
					}
				}
			);
		}
	}
);
</script>
<!-- END BLOCK_DRAG_DROP -->
<div class="infoBar">
{INFO_TEXT}
</div>
<!-- END BLOCK_STAFF -->
